@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css');
@import './../../assets/sass/layout';
@import './../../assets/sass/tricks';
.navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.28);
}

.navbar-default {
    background-color: white;
    border-color: #e7e7e7;
}

.navbar-default .navbar-nav #user-profile {
    height: $header-height - 10px;
    padding-top: 15px;
    padding-left: 48px;
}

.navbar-default .navbar-nav #user-profile img {
    height: 45px;
    width: 45px;
    position: absolute;
    top: 2px;
    left: 8px;
    padding: 1px;
}

.navbar-fixed-top,
.navbar-fixed-bottom {
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1000;
}

.cemex-logo {
    content: url('https://upload.wikimedia.org/wikipedia/commons/thumb/0/03/Cemex_logo.svg/1280px-Cemex_logo.svg.png');
    // padding-bottom: 0;
    min-height: 60px;
    margin-left: 0 !important;
}

.nav,
.nav-brand {
    min-height: 64px;
}

.btn-header-menu {
    font-family: Roboto;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    min-width: 170px;
    margin-left: 20px;
    line-height: 28px;
    color: #19233A !important;
    top: 22px;
    position: absolute;
    border-left: 2px solid #EEEFF0;
    height: 24px;
    background-color: #fff;
    border-radius: 2px;
    padding: 0;
}

button {
    background-color: inherit;
}

.btn-header-menu:focus,
.btn-header-menu.focus {
    color: #1F2D4A;
    background-color: #fff;
}

.btn-header-menu:active,
.btn-header-menu.active,
.open>.dropdown-toggle.btn-header-menu {
    background-color: #fff;
    box-shadow: none;
}

.btn-header-menu:active,
.btn-header-menu.active,
.open>.dropdown-toggle.btn-header-menu {
    background-image: none;
    background-color: #fff;
}

.arrow-menu {
    width: 10px;
    margin-left: 10px;
    content: url("/vendor/images/arrow-down-blue.svg");
}

.dropdown-header-menu {
    top: 64px;
    left: 20px;
}

.dropdown-right-menu li {
    top: 7px;
    ul {
        top: 57px;
    }
}

.header-menu {
    font-family: Roboto;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    min-width: 200px;
    margin-left: 20px;
    line-height: 28px;
    color: #19233A !important;
    // top: 22px;
    position: absolute;
    right: 0;
    // border-left: 2px solid #EEEFF0;
    height: 24px;
    background-color: #fff;
    border-radius: 2px;
    // padding: 0;
    &:active,
    &:focus,
    &.open {
        background-color: #FFF !important;
    }
}

.flag-menu {
    position: absolute;
    background-color: #FFF !important;
    &:active,
    &:focus,
    &.open {
        background-color: #FFF !important;
    }
    a {
        padding: 8px 10px 5px 6px;
    }
}

.dropdown {
    background-color: #FFF !important;
    &:active,
    &:focus,
    &.open {
        background-color: #FFF !important;
    }
}

.dropdown-menu>li>a:hover,
a:active,
li {
    background-color: transparent;
}

.dropdown-menu-flag {
    width: 200px;
}

.md-check {
    cursor: pointer;
    /*padding-left: 1.25rem;*/
    /*margin: 0;*/
    display: inline-block;
    position: relative;
    color: #1F2D4A;
    background-color: #fff;
    font-family: Roboto;
    font-size: 14px;
    line-height: 19px;
    text-overflow: ellipsis;
    overflow-wrap: break-word;
    overflow: hidden;
    white-space: nowrap;
}

.font-order {
    font-family: Roboto;
    font-size: 18px;
    font-weight: bold;
    color: #2D2D2D;
}

.md-check input {
    position: absolute;
    width: 0;
    height: 48px;
    margin-top: -13px;
    cursor: pointer;
    z-index: 1;
    opacity: 0;
    margin-left: -3.65rem;
}

.padding {
    padding: 20px;
}

.md-check input:checked+i:before {
    border-width: 0;
    background-color: inherit;
    border: none;
}

.md-check input:checked+span .active {
    display: inherit;
}

.md-check input[type="radio"]+i,
.md-check input[type="radio"]+i:before {
    border-radius: 50%;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

.md-check input[type="checkbox"]:checked+i:after {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
    left: 5px;
    top: 2px;
    display: table;
    width: 6px;
    height: 10px;
    border: 2px solid #06ABF5;
    border-top: 0;
    border-left: 0;
    content: ' ';
}

.md-check input[type="radio"]:checked+i:after {
    position: absolute;
    left: 6px;
    top: 6px;
    display: table;
    width: 6px;
    height: 6px;
    background: #fff;
    border-radius: 50%;
    content: ' ';
}

.md-check input[disabled]+i:before,
fieldset[disabled] .md-check input+i:before {
    opacity: 0.5;
}

.md-check input[disabled]:checked+i:before {
    opacity: 0.5;
}

.md-check>i {
    width: 0;
    height: 16px;
    line-height: 1;
    margin-left: 10px;
    margin-top: 1px;
    float: left;
    display: inline-block;
    vertical-align: middle;
    margin-right: 28px;
    position: relative;
}

.md-check>i:before {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    border: none;
    border-radius: 2px;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
}