<header>
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container-fluid header-size">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                <a class="navbar-brand cemex-logo" href="#"></a>
            </div>
            <div id="navbar-collapse" class="collapse navbar-collapse header-size">
                <ul class="nav navbar-nav navbar-left">
                    <li class="dropdown">
                        <button class="btn btn-header-menu dropdown-toggle" data-toggle="dropdown"> Track & Trace
                             <span class="arrow-menu"></span>
                         </button>
                        <ul class="dropdown-menu dropdown-block dropdown-header-menu" role="menu">
                            <li [routerLinkActive]="['link-active']">
                                <a [routerLink]="['/delivery']">
                                    <span class='glyphicon glyphicon-inbox'></span> {{ t.pt("views.header.dispatch_monitor") }}
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right dropdown-right-menu">
                    <li class="dropdown flag-menu">
                        <a id="user-profile" href="#" class="dropdown-toggle header-menu" data-toggle="dropdown">{{ user?.fullName }} <span class="arrow-menu"></span></a>
                        <ul class="dropdown-menu  dropdown-menu-flag" role="menu">
                            <li><a style="padding-left:43px;">Language</a></li>
                            <li class="divider"></li>
                            <li class="clickable">
                                <a class="md-check" (click)="changeLanguage('en')">
                                    <input type="checkbox" [checked]="enflagged">
                                    <i></i>
                                    <img src="/vendor/images/usa_flag.svg" alt="English" width="28px" height="18px">
                                    <span> {{ t.pt("views.header.english") }}</span>
                                </a>
                            </li>
                            <li class="divider"></li>
                            <li class="clickable">
                                <a class="md-check" (click)="changeLanguage('es')">
                                    <input type="checkbox" [checked]="esflagged">
                                    <i></i>
                                    <img src="/vendor/images/mex_flag.svg" alt="Spanish" width="28px" height="18px">
                                    <span> {{ t.pt("views.header.spanish") }}</span>
                                </a>
                            </li>
                            <li class="divider"></li>
                            <li class="clickable">
                                <a style="color: red; padding-left:43px;" (click)="logout()">
                                    {{ t.pt("views.header.logout") }}
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>