.ordertickcol {
    padding-top:15px;
    text-align: center;
}

.ordertick {
    font-family: "Roboto";
    font-size: 18px;
    font-weight: bold;
    line-height: 18px;
    color: #19233A;
}

.fancy-bottom {
    border-bottom: 1px solid #EEEEEE;
}

.slave-button{
    float: right;
    margin-right: 20px !important;
}

 // Tabs
// ===================================
$cyan: #fff;
$yellow: #1577FF;
$grey: #1F2A44;
$num-of-tabs: 2;
@mixin tabs {
    @for $i from 1 through $num-of-tabs {
        &:nth-of-type(#{$i}) {
            &:checked {
                ~.slide {
                    left: calc((100% / #{$num-of-tabs}) * #{$i - 1});
                }
            }
        }
    }
}

.tab-wrap {
    position: relative;
    display: flex;
}

.tab-wrap-second {
    width: 50%;
    position: relative;
    display: flex;
    background-color: $yellow;
    color: #fff;
    font-weight: normal;
    font-size: 12px;
    text-align: left;
}

input[type="radio"][name="tabs"] {
    position: absolute;
    z-index: -1;
    &:checked {
        +.tab-label-content {
            label {
                color: #1577FF;
            }
            .tab-content {
                display: block;
            }
        }
    }
    @include tabs;
    &:first-of-type {
        &:checked {
            ~.slide {
                left: 0;
            }
        }
    }
}

label {
    cursor: pointer;
    color: #1F2A44;
    background-color: $cyan;
    box-sizing: border-box;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 48px;
    transition: color 0.2s ease;
    width: 100%;
    font-size: 14px;
    font-weight: normal;
    line-height: 16px;
}

.slide {
    background: $yellow;
    width: calc(100% / #{$num-of-tabs});
    height: 2px;
    position: absolute;
    left: 0;
    top: calc(100% - 3px);
    transition: left 0.3s ease-out;
}

.tab-label-content {
    width: 100%;
    background-color: #fff;
    .tab-content {
        position: absolute;
        top: 100px;
        left: 16px;
        line-height: 130%;
        display: none;
    }
}


$num-of-tab: 1;
@mixin tab {
    @for $i from 1 through $num-of-tab {
        &:nth-of-type(#{$i}) {
            &:checked {
                ~.slide {
                    left: calc((100% / #{$num-of-tab}) * #{$i - 1});
                }
            }
        }
    }
}

input[type="radio"][name="tab"] {
    position: absolute;
    z-index: -1;
    &:checked {
        +.tab-label-content {
            label {
                color: #1577FF;
            }
            .tab-content {
                display: block;
            }
        }
    }
    @include tab;
    &:first-of-type {
        &:checked {
            ~.slide {
                left: 0;
            }
        }
    }
}
.slide-1 {
    background: $yellow;
    width: calc(100% / #{$num-of-tab});
    height: 2px;
    position: absolute;
    left: 0;
    top: calc(100% - 3px);
    transition: left 0.3s ease-out;
}