<div class="row fancy-bottom" *ngIf="isRMSDelivery">
    <div class="col-md-2 ordertickcol">
        <span class="ordertick">{{ t.pt('views.order_ticket_header.orderTicket') }}</span>
    </div>
    <div class="col-md-3">
        <div class="tab-wrap" >
            <input type="radio" name="tabs" id="maptracking" checked>
            <div class="tab-label-content" id="tab1-content">
                <label for="maptracking" (click)="toggleFilter('maptracking')"><img src='/vendor/images/here.svg'> &nbsp; {{ t.pt("views.order_ticket_header.map_tracking") }}</label>
            </div>
            <input type="radio" name="tabs" id="listtrucks" >
            <div class="tab-label-content" id="tab2-content">
                <label for="listtrucks" (click)="toggleFilter2('listtrucks')"><img src='/vendor/images/threelines.svg'> &nbsp; {{ t.pt("views.order_ticket_header.list_of_trucks") }}</label>
            </div>
            <div class="slide"></div>
        </div>
    </div>
    <div class="col-md-4 col-md-offset-3">
        <status-filter></status-filter>
    </div>
</div>
<div class="row fancy-bottom" *ngIf="!isRMSDelivery">
    <div class="col-md-2 ordertickcol">
        <span class="ordertick">{{ t.pt('views.order_ticket_header.orderTicket') }}</span>
    </div>
    <div class="col-md-2">
        <div class="tab-wrap">
            <input type="radio" name="tab" id="listtrucks" >
            <div class="tab-label-content" id="tab2-content">
                <label for="listtrucks" (click)="toggleFilter2('listtrucks')"><img src='/vendor/images/threelines.svg'> &nbsp; {{ t.pt("views.order_ticket_header.list_of_trucks") }}</label>
            </div>
            <div class="slide-1"></div>
        </div>
    </div>
    <div class="col-md-4 col-md-offset-4">
        <status-filter></status-filter>
    </div>
</div>