<div style="display: block" class="move-bitch">
    <div class="row">
        <div class="col-md-6">
            <canvas baseChart [options]="chartOptions" style="height:110px" [legend]="false" [data]="doughnutChartData" [labels]="doughnutChartLabels" [colors]="doughnutChartColors" [chartType]="doughnutChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
            <span class="left-label">{{firstNumber}}</span>
            <span class="center-label">{{secondNumber}}%</span>
            <span class="right-label">{{thirdNumber}}</span>
        </div>
        <div class="col-md-6">
            <div class="cemex-chart-donut-legend-margin">
                <div *ngFor="let singleLabel of doughnutChartLabels;let indi=index">
                    <div class="row">
                        <div class="col-md-1">
                            <div class="cemex-chart-donut-legends" [style.background]="getLabelColor(indi)"></div>
                        </div>
                        <div class="col-md-9">
                            {{singleLabel}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>