@import './../../assets/sass/variables';
.cemex-chart-donut-legends{
    width: 12px;
    height: 12px;
    border-radius: 3px;
}
.cemex-chart-donut-legend-margin{
    margin-left: -20px;
    margin-top: 20px;
}
.move-bitch{
   padding-top: 20px;
   padding-left: 20px;
   padding-right: 20px;
}
.center-label{
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    color: #1F2D4A;
    position: absolute;
    bottom: -2px;
    font-size: 24px;
    margin: 0 auto;
    left: 43%;
}
.left-label{
    font-family: Roboto;
    font-size: 12px;
    line-height: 16px;
    color: #2D2D2D;
    margin-left:10px;
    position: absolute;
    left: 0;
}
.right-label{
    font-family: Roboto;
    font-size: 12px;
    line-height: 16px;
    color: #2D2D2D;
    position: absolute;
    right: 7px;
    // margin-right: 27px;
}

@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {

} 