.modal-header {
    border: none;
}

.modal-content {
    border: 1px solid #EEEEEE;
    border-radius: 0;
    box-shadow: 0 14px 28px 0 rgba(0,0,0,0.1);
    width: 365px;
}

.modal-backdrop, 
.modal-backdrop.fade.in,
.fade.in {
opacity: 1 !important;
background: none;
}

.modal-body {
    width: 96%;

    th {
        font-size: 14px;
    }

    td {
        font-size: 12px;
    }
}

.clickme {
    color: #318CF6;
    font-family: Roboto;
    cursor: pointer;
}