<!--Cemex Modal Button-->
<div data-toggle="modal" data-target="#myModal">
  <a class="clickme" >{{ buttontag }}</a>
</div>

<!--JavaScript for Modal with Bootstrap-->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="true">
  <div class="modal-dialog modal-sm" role="document" [style.top]="top" [style.bottom]="bottom" [style.left]="left" [style.right]="right">
    <div class="modal-content">
        <div class="container" style="width:100%">
            <div class="modal-body">
              <ng-content></ng-content>
            </div>
        </div>
    </div>
  </div>
</div>