<h1>Modal Demo</h1>
<hr>
<h3>Button with modal</h3>

<div style="padding-top:40px">
    <!--CEMEX Modal-->
    <cemex-modal 
        buttontag="Click me!"
        title="Daww you clicked"
        body="This is the body in the modal thingy..."
        footer="Down Undeeeeeer">
    </cemex-modal>
</div>
