$section-height: 75px;

.session-section{
    height: $section-height;
}

.logo-container{
    text-align: left;
    .logo{
        width: $section-height;
        height: auto;
        max-height: $section-height;
    }
}

.session-info-container{
    display: table;
    width: 100%;
    height: $section-height;
    text-align: right;
    span{
        display: table-cell;
        vertical-align: middle;
    }
}