<section class="session-section">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <div class="logo-container">
                    <img alt="Cemex logo" class="logo" [src]="_imagePath">
                </div>
            </div>
            <div class="col-md-6">
                <div class="session-info-container">
                    <span>
                        Welcome, Jason
                        <i aria-hidden="true" class="fa fa-user"></i>
                    </span>
                </div>
            </div>
        </div>
    </div>
</section>