<table class="table table-hover" (mouseleave)="leave($event,-1);">
    <tr class="" (mouseover)='over($event,index)' (mouseleave)="leave($event,index);" *ngFor='let items of tblItems | async; let index=index; '>
        <td class="colorStatusPanel">
            <canvas [ngClass]="getTdClass('ColorColummnStatus',3)" *ngIf="items.daysOverDue  != 0 && items.daysToDue > 2">
            </canvas>
            <canvas [ngClass]="getTdClass('ColorColummnStatus',2)" *ngIf="items.daysOverDue  != 0 && items.daysToDue < 2">
            </canvas>
            <canvas [ngClass]="getTdClass('ColorColummnStatus',1)" *ngIf="items.daysOverDue  == 0 || ( items.daysOverDue  == 0 && items.daysToDue!=0 )">
            </canvas>
        </td>

        <td class="colorStatusPanelth1"><input type="checkbox" value="" /> </td>
        <td>

            <div *ngIf="index === mouseid">
                <a [ngClass]="getTdClass('formatReferenceLink',0)" href="">{{items.referenceNumber}}</a>
            </div>
            <div *ngIf="index != mouseid">
                <span [ngClass]="getTdClass('formatReference',0)">{{items.referenceNumber}}</span>
            </div>

            <p [ngClass]="getTdClass('formatReferenceFolioDocument',0)"> {{items.folioDocument}}</p>

        </td>



        <td>

            <span [ngClass]="getTdClass('FormatJobs',0)">{{items.jobSiteCode}} 


                   
            </span>
            <p [ngClass]="getTdClass('FormatJobsChild',0)">{{items.jobSiteDesc}}</p>

        </td>

        <!--<td  style="width:12%">-->
        <td nowrap>
            <span [ngClass]="getTdClass('FormatContract',0)"> {{items.contract}}</span>
            <a [ngClass]="getTdClass('FormatContract',0)" *ngIf="items.totalContracts > 1" href="#">
             <i style="color:#4990E2" class="glyphicon glyphicon-plus-sign"></i></a>


</td>
<td>
    <span [ngClass]="getTdClass('FotmatPO',0)">{{items.purchaseOrder}}</span>
</td>

<td>
    <span [ngClass]="getTdClass('Formattype',0)"> {{items.documentTypeCode}}</span>
</td>

<td>
    <span [ngClass]="getTdClass('FormatCreate',0)">
        {{ items.createDate | date:"dd/M/yy"}}
    </span>
</td>

<td>

    <span [ngClass]="getTdClass('FormatDueDate',3)" *ngIf="items.daysOverDue  != 0 && items.daysToDue > 2">
        {{ items.dueDate | date:"dd/M/yy"}}
    </span>
    <span [ngClass]="getTdClass('FormatDueDate',2)" *ngIf="items.daysOverDue  != 0 && items.daysToDue < 2">
        {{ items.dueDate | date:"dd/M/yy"}}
    </span>

    <span [ngClass]="getTdClass('FormatDueDate',1)" *ngIf="items.daysOverDue  == 0 || ( items.daysOverDue  == 0 && items.daysToDue!=0 )">
        {{ items.dueDate | date:"dd/M/yy"}}
    </span>


</td>

<td>
    <span [ngClass]="getTdClass('Formattotal',0)">${{items.amount}}</span>
</td>
<td>

    <span [ngClass]="getTdClass('formatBalanceDue',3)" *ngIf="items.daysOverDue  != 0 && items.daysToDue > 2">${{items.balance}}</span>
    <span [ngClass]="getTdClass('formatBalanceDue',2)" *ngIf="items.daysOverDue  != 0 && items.daysToDue < 2">${{items.balance}}</span>
    <span [ngClass]="getTdClass('formatBalanceDue',1)" *ngIf="items.daysOverDue  == 0 || ( items.daysOverDue  == 0 && items.daysToDue!=0 ) ">${{items.balance}}</span>
    <br/>
    <!--sobre puesto -->
    <span [ngClass]="getTdClass('formatBalanceChild',3)" *ngIf="items.daysOverDue  != 0 && items.daysToDue > 2">{{items.daysOverDue}}</span>
    <span [ngClass]="getTdClass('formatBalanceChild',2)" *ngIf="items.daysOverDue  != 0 && items.daysToDue < 2">{{items.daysOverDue}}</span>
    <span [ngClass]="getTdClass('formatBalanceChild',1)" *ngIf="items.daysOverDue  == 0 || ( items.daysOverDue  == 0 && items.daysToDue!=0 )">{{items.daysOverDue}}</span>

    <br/>
    <span [ngClass]="getTdClass('formatBalanceDiscount',0)">{{items.discount}}</span>
    <br/>
</td>


</tr>

</table> 