
$red-color :#C0392B ;
$yellow-color :#F9A23D ;
$green-color :#7AC943;
$black-color:#222222;





.ColorColummnStatus1{
  background-color:$red-color;
  width: 8px;
  height :71px;
//  border: solid 2px #f60;
}
.ColorColummnStatus2{
  background-color:$yellow-color;
   width: 8px;
   height :71px;
   
}

.ColorColummnStatus3{
  background-color:$green-color;
   width: 8px;
   height :71px;
}


.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color:#ffffff;
//    opacity: 0.5;
}


// .colortdfirst{
//     // border: 1px groove black;
//    padding: 0px;
//    width: 8px;
// //    height :71px;
  

// }


input[type=checkbox]
{
//  box-sizing: border-box;
// width: 10px;
// height: 9.99px;
// border: 1px solid #4D4D4D;
// padding-top: 2.23% !important;
// padding-left: 2.64% !important;

box-sizing: border-box;
width: 10px;
height: 9.99px;
border: 1px solid #4D4D4D;

}



// //Reference
// // 232323
.formatReference{
// width: 90.22px;
// height: 18px;
font-family: Roboto;
font-size: 15px;
font-weight: 500;
text-align: center;
line-height: 20px;
color: #232323;
}

.formatReferenceLink{

//     width: 10.94%;
width: 90.22px;
height: 18px;    
font-family: Roboto;
font-size: 15px;
font-weight: 500;
text-align: center;
line-height: 20px;
color: #4A90E2;
}

.formatReferenceFolioDocument{
width: 90.22px;
height: 13px;
font-family: Roboto;
font-size: 10px;
font-weight: 300;
text-align: right;
line-height: 13px;
color: #4D4D4D;
}



.FormatJobs{
width: 70px;
height: 15px;
font-family: Roboto;
font-size: 11px;
line-height: 15px;
color: #222222;

}

.FormatJobsChild{
width: 70px;
height: 11px;
font-family: Roboto;
font-size: 10px;
line-height: 13px;
color: #222222;


}

.FotmatPO{

width: 75.15px;
height: 15px;
font-family: Roboto;
font-size: 11px;
text-align: center;
line-height: 15px;
color: #222222;
}
.FormatContract{
width: 50.13px;
height: 15px;
font-family: Roboto;
font-size: 11px;
text-align: center;
line-height: 15px;
color: #222222;
}


// .FormatContractChild{
// //    width: 9.98%;
// // height: 1.53%;
// // // width: 73px;
// //  width: 2%;
// font-family: Roboto;
// font-size: 10px;
// line-height: 13px;
// color: #222222;

// }

//type
.Formattype{
width: 43px;
height: 15px;
font-family: Roboto;
font-size: 11px;
text-align: center;
line-height: 15px;
color: #222222;


}

.FormatCreate{
width: 45.09px;
height: 15px;
font-family: Roboto;
font-size: 11px;
text-align: center;
line-height: 15px;
color: #222222;
}

// // Due Day
.FormatDueDate1{
    color: $red-color;
   width: 4.4%;
height: 2.09%;
font-family: Roboto;
font-size: 11px;
text-align: center;
line-height: 15px;
}
.FormatDueDate2{
    color: $yellow-color;
    opacity: 100%;
    font-size: 12px;
    font-face:Roboto-regular;
    character:0.1 px;
    line:16px(1.3)
}

.FormatDueDate3{
width: 45.09px;
height: 15px;
font-family: Roboto;
font-size: 11px;
text-align: center;
line-height: 15px;
color: #C0392B;
}

//Total
.Formattotal{

width: 62.12px;
height: 14px;
font-family: Roboto;
font-size: 12px;
font-weight: 500;
text-align: center;
line-height: 16px;
color: #222222;;
 


}










// Balance Due 

.formatBalanceDue1{
    color: $red-color;
    width: 151px;

font-family: Roboto;
font-size: 15px;
font-weight: 500;
// text-align: center;
line-height: 20px;
   color:$red-color;


}

.formatBalanceDue2{
    color: $yellow-color;
    opacity: 100%;
    font-size: 18px;
    // text-align: center;
    font-face:Roboto-Medium;
    character:0.1 px;
    line:24px(1.3);
    color:$yellow-color;
}

.formatBalanceDue3{


 width: 77px;
height: 20px;
font-family: Roboto;
font-size: 15px;
font-weight: 500;
// text-align: center;
line-height: 20px;
color:$green-color;
}

.formatBalanceChild1{
    color:$red-color;
    opacity: 100%;
    font-size: 10px;
    font-family:Roboto-light;
    character:0 px;
    line:13px(1.3)
}


.formatBalanceChild2{
    color: $yellow-color;
    opacity: 100%;
    font-size: 10px;
    font-family:Roboto-light;
    character:0 px;
    line:13px(1.3)
}


.formatBalanceChild3{
   width: 69px;
height: 13px;
font-family: Roboto;
font-size: 10px;
font-weight: 300;
text-align: right;
line-height: 13px;
color:$green-color;
}


.formatBalanceDiscount{
width: 73px;
height: 13px;
font-family: Roboto;
font-size: 10px;
font-weight: 300;
text-align: right;
line-height: 13px;
color: #333333;
}
//  span{
// margin: 0px auto;
     
//  }


table {
//  width: 89.84%;
// height: 55.79%;
// width: 920px;
// // height: 400px;
// border: 15px;
// background-color: rgba(235,239,242,0.9);




} 



.colorStatusPanel{
  padding: 0px !important;
   width: 8px !important;
   height :71px !important;

}

.panel {
  border: 0;
  box-shadow: none !important;
//   background-color:white;
//  width: 920px;
// height: auto;
// background-color: rgba(235,239,242,0.9);
}



// td {
// //   width: 10%;
// //   font-size: 12px;
// //   text-align: center;
// //    background-color: #F8F8F8;
// //   padding-top: 17px !important;
// //   padding-bottom: 21px !important;
// //   left:0;
// }


