<div class="order-card">
    <div class="row filters">
        <div  *ngIf="!isRange" class="col-md-8 font-order left order-font-count"> Orders ({{orderLenght}} open — {{canceled}} canceled orders)</div>
         <!-- filter component has 4 columns -->
        <historical-filter *ngIf="isRange" [title]="historicalTitle" [dates]="programmedDates"></historical-filter>
        <!-- filter component has 4 columns -->
        <filter></filter>
    </div>
    
    <br>

    <div class="row " [hidden]="!(monthFilter(breakDate.date) && isRange)" *ngFor="let breakDate of breakDates">
        <h5 class="break-date"><span>{{breakDate.date}}</span></h5>
        <div  *ngFor="let point of breakDate.points">
            <div class="col-md-12 padding dop"> 
                Point Of Delivery - {{point.pointOfDeliveryCode}} - {{point.pointOfDeliveryDesc}} - {{point.addressItem.domicileNum}} - {{point.addressItem.streetName}} - {{point.addressItem.cityDesc}} - {{point.addressItem.regionCode}} - {{point.addressItem.postalCode}} - {{point.addressItem.countryCode}}   
            </div>

            <div (click)="selectedOrder(item)" [hidden]="!filter3" class="col-md-4 order-card " [ngClass]="item.orderStatusGroupCode" color="primary" *ngFor="let item of getCardsByPoint(breakDate.date, point)" >
                <br>
                <div class="left order-font">{{item.orderCode}}</div>
                <div class="right">{{item.isDeliveredTotal}}/{{item.orderItem.length}} Deliveries</div>
                <div class="left ">start: {{item.startOrderDateTime | date:'hh:mm a'}}</div>
                <div class="right yrd ">{{item.deliveredQty}}/{{item.AllProductQty}} yd3</div>
                <hr>
                <div style="margin-bottom: auto;" *ngIf="item.orderItem.length > 2"> {{item.orderItem.length}} Products</div>
                <div style="margin-bottom: auto;" *ngFor="let order of item.orderItem | unique; let i = index" [hidden]="item.orderItem.length > 2">
                    <div class="left sub-order-font">{{order.productDesc }} </div>
                    <div class="right">{{order.productQuantity}}{{order.unitDesc}} </div>
                </div>
                <br>
                <hr>
                <div class="col-md-2 mini-font">
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="item.notTicketed" aria-valuemin="0" aria-valuemax="100" [style.width]="(item.notTicketed*100/item.orderItem.length) + '%'"></div>
                    </div>
                    <p> {{item.notTicketed}}
                        <br>notTicketed </p>
                </div>
                <div class="col-md-2 mini-font">
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" [style.width]="(item.batching*100/item.orderItem.length) + '%'"></div>
                    </div>
                    {{item.batching}}
                    <br>
                    <p> batching </p>
                </div>
                <div class="col-md-2 mini-font">
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" [style.width]="(item.onSite*100/item.orderItem.length) + '%'"></div>
                    </div>
                    {{item.onSite }}
                    <br>
                    <p> onSite </p>
                </div>
                <div class="col-md-2 mini-font">
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" [style.width]="(item.pouring*100/item.orderItem.length) + '%'"></div>
                    </div>
                    {{item.pouring}}
                    <br>
                    <p> pouring </p>
                </div>
                <div class="col-md-1 mini-font">
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" [style.width]="(item.finished*100/item.orderItem.length) + '%'"></div>
                    </div>
                    {{item.finished}}
                    <br>
                    <p> finished </p>
                </div>
                <hr>
                <div class="col-md-12 position-down-left">
                    <i class="fa fa-circle left status mini" [ngClass]="item.orderStatusGroupCode" aria-hidden="true"></i>
                    <div class="left">{{item.orderStatusDesc}} </div>
                    <div class="sub-font-status">{{item.shipping}} </div>
                </div>
            </div>

             <div class="" [hidden]="filter3">
                <table class="">
                    <tr (click)="selectedOrder(item)" class="fade-in" *ngFor="let item of getCardsByPoint(breakDate.date, point)" [ngClass]="item.orderStatusGroupCode">
                        <th class="status-table" [ngClass]="item.orderStatusGroupCode">{{item.orderCode}}</th>
                        <th>start: {{item.startOrderDateTime | date:'hh:mm a'}}</th>
                        <th>{{item.orderCode}}/{{item.orderItem.length}} Deliveries - 0/{{item.targetRate}} yd3</th>
                        <th>
                            <div style="margin-bottom: auto;" *ngIf="item.orderItem.length > 1"> {{item.orderItem.length}} Products</div>
                            <div style="margin-bottom: auto;" *ngFor="let order of item.orderItem | unique; let i = index" [hidden]="item.orderItem.length > 1">
                                <div class="left sub-order-font">{{order.productDesc | unique}} </div>
                                <div class="right">{{order.slump | unique}}tn </div>
                            </div>
                        </th>
                        <th> <i class="fa fa-circle left status mini" [ngClass]="item.orderStatusGroupCode" aria-hidden="true"></i>
                            <div class="left"> {{item.orderStatusDesc}} </div>
                            <span style="font-size: 4px !important, color: #ddd;"> - {{item.shipping}}</span>
                        </th>
                    </tr>
                </table>
            </div>
        </div>       
    </div>

    <div class="row" [hidden]="isRange"  *ngFor="let point of points">
        <div class="col-md-12 padding dop" [hidden]="!point.empty"> 
            Point Of Delivery - {{point.pointOfDeliveryCode}} - {{point.pointOfDeliveryDesc}} - {{point.addressItem.domicileNum}} - {{point.addressItem.streetName}} - {{point.addressItem.cityDesc}} - {{point.addressItem.regionCode}} - {{point.addressItem.postalCode}} - {{point.addressItem.countryCode}}   
        </div>

        <div (click)="selectedOrder(item)" [hidden]="!filter3" class="col-md-4 order-card " [ngClass]="item.orderStatusGroupCode" color="primary" *ngFor="let item of filterByPOD(point)" >
            <br>
            <div class="left order-font">{{item.orderCode}}</div>
            <div class="right">{{item.isDeliveredTotal}}/{{item.orderItem.length}} Deliveries</div>
            <div class="left ">start: {{item.startOrderDateTime | date:'hh:mm a'}}</div>
            <div class="right yrd ">{{item.deliveredQty}}/{{item.AllProductQty}} yd3</div>
            <hr>
            <div style="margin-bottom: auto;" *ngIf="item.orderItem.length > 2"> {{item.orderItem.length}} Products</div>
            <div style="margin-bottom: auto;" *ngFor="let order of item.orderItem | unique; let i = index" [hidden]="item.orderItem.length > 2">
                <div class="left sub-order-font">{{order.productDesc }} </div>
                <div class="right">{{order.productQuantity}}{{order.unitDesc}} </div>
            </div>
            <br>
            <hr>
            <div class="col-md-2 mini-font">
                <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="item.notTicketed" aria-valuemin="0" aria-valuemax="100" [style.width]="(item.notTicketed*100/item.orderItem.length) + '%'"></div>
                </div>
                <p> {{item.notTicketed}}
                    <br>notTicketed </p>
            </div>
            <div class="col-md-2 mini-font">
                <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" [style.width]="(item.batching*100/item.orderItem.length) + '%'"></div>
                </div>
                {{item.batching}}
                <br>
                <p> batching </p>
            </div>
            <div class="col-md-2 mini-font">
                <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" [style.width]="(item.onSite*100/item.orderItem.length) + '%'"></div>
                </div>
                {{item.onSite }}
                <br>
                <p> onSite </p>
            </div>
            <div class="col-md-2 mini-font">
                <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" [style.width]="(item.pouring*100/item.orderItem.length) + '%'"></div>
                </div>
                {{item.pouring}}
                <br>
                <p> pouring </p>
            </div>
            <div class="col-md-1 mini-font">
                <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" [style.width]="(item.finished*100/item.orderItem.length) + '%'"></div>
                </div>
                {{item.finished}}
                <br>
                <p> finished </p>
            </div>
            <hr>
            <div class="col-md-12 position-down-left">
                <i class="fa fa-circle left status mini" [ngClass]="item.orderStatusGroupCode" aria-hidden="true"></i>
                <div class="left">{{item.orderStatusDesc}} </div>
                <div class="sub-font-status">{{item.shipping}} </div>
            </div>
        </div>

        <div class="" [hidden]="filter3">
            <table class="">
                <tr (click)="selectedOrder(item)" class="fade-in" *ngFor="let item of filterByPOD(point) | filterBy:{isReadyMix: ''} | filterBy:{orderStatusGroupCode: filter1} | filterBy:{shipping: filter2}" [ngClass]="item.orderStatusGroupCode">
                    <th class="status-table" [ngClass]="item.orderStatusGroupCode">{{item.orderCode}}</th>
                    <th>start: {{item.startOrderDateTime | date:'hh:mm a'}}</th>
                    <th>{{item.orderCode}}/{{item.orderItem.length}} Deliveries - 0/{{item.targetRate}} yd3</th>
                    <th>
                        <div style="margin-bottom: auto;" *ngIf="item.orderItem.length > 1"> {{item.orderItem.length}} Products</div>
                        <div style="margin-bottom: auto;" *ngFor="let order of item.orderItem | unique; let i = index" [hidden]="item.orderItem.length > 1">
                            <div class="left sub-order-font">{{order.productDesc | unique}} </div>
                            <div class="right">{{order.slump | unique}}tn </div>
                        </div>
                    </th>
                    <th> <i class="fa fa-circle left status mini" [ngClass]="item.orderStatusGroupCode" aria-hidden="true"></i>
                        <div class="left"> {{item.orderStatusDesc}} </div>
                        <span style="font-size: 4px !important, color: #ddd;"> - {{item.shipping}}</span>
                    </th>
                </tr>
            </table>
        </div>

    </div>
 

    <div class="col-md-12" *ngIf="(orders | filterBy:{shipping: filter2 }).length === 0">
        <div class="center" style="text-align: center;
    margin: 25%"><i class="fa fa-exclamation icon-pulse" aria-hidden="true"></i> No Data </div>
    </div>
    <div class="col-md-12" *ngIf="(orders | filterBy:{orderStatusGroupCode: filter1 }).length === 0">
        <div class="center" style="text-align: center;
    margin: 25%"><i class="fa fa-exclamation icon-pulse" aria-hidden="true"></i> No Data </div>
    </div>
</div>