.order-card {
    @import url(http://fonts.googleapis.com/css?family=Roboto|Open+Sans:400italic,700italic,400,700);
    $font-stack: Roboto, Helvetica, sans-serif;
    $NST: #A5D756;
    $STR: #2BB8F9;
    $WCL: #EA5090;
    $OHD: #FFCE33;
    $CNC: #5A5A5A;
    $CMP: #9215FF;
    $PHD: #EF5757;
    $CMX: #2F569B;
    $CMX_: #03A9F4;
    $BCK: #f5f5f5;
    $grey: #2D2D2D;
    $NBLUE: #0B162E;
    $WHT: #FFFFFF;
    $BRD: #E1E1E1;
    $NTK: #607D8B;
    $FIN: $STR; 
    $LDG: #FF9800; 
    
    .filters{
        border-bottom: 1px solid #e3e3e3;
    }

    .break-date{
        font-weight: bold;
        font-size: 16px;
        border-bottom: 1px solid #e3e3e3;
        
    }

    #main {
        font-family: $font-stack;
    }
    body {
        font-family: $font-stack;
        font-size: 14px;
        line-height: 12px;
        color: $grey;
    }
    .falist {
        width:15px;
        float: right;
        margin-right: 5em;
        margin-top: 12px;
        margin-left: -79px;
        font-size: 19px
    }
    .fath {
        width:15px;
        float: right;
        margin-right: 4em;
        margin-top: 13px;
        font-size: 19px;
        color: $STR;
    }
    .dd {
        float: right;
        margin-right: 1em;
        margin-top: 0px
    }
    .do {
        float: right;
        margin-right: 1em;
    }
    .position-down-left {
        position: absolute;
        bottom: 8px;
        left: 0;
    }
    .order-font {
        width: 114.11px;
        height: 19px;
        font-family: $font-stack;
        font-size: 16px;
        font-weight: bold;
        line-height: 19px;
        color: #0B162E;
    }
    .dop {
        height: 21px;
        font-family: $font-stack;
        font-size: 16px;
        line-height: 21px;
        color: $NBLUE;
        margin-top: 8px;
        margin-bottom: 10px;
    }
    .sub-order-font {
        width: 233px;
        height: 19px;
        font-family: $font-stack;
        font-size: 14px;
        line-height: 19px;
        color: $NBLUE;
    }
    .sub-font-status {
        font-family: $font-stack;
        font-size: 12px;
        color: $grey;
        display: inline-block;
        background-color: transparent !important;
        margin-left: 7px;
    }
    .mini-font {
        font-family: $font-stack;
        font-size: 7px;
        line-height: 11px;
        color: $grey;
        text-align: center;
        padding-right: 0px;
        margin-right: 11px;
        margin-left: 0px;
        padding-left: 0px;
    }
    .progress {
        height: 16px;
        margin-bottom: 20px !important;
        overflow: hidden;
        background-color: $BCK;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
        box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
        -ms-transform: rotate(7deg);
        -webkit-transform: rotate(7deg);
        transform: rotate(-90deg);
        margin-top: 20px;
        width: 47px;
        margin-left: -7px;
    }
    .progress-bar {
        float: left;
        width: 0;
        height: 100%;
        font-size: 12px;
        line-height: 20px;
        color: #fff;
        text-align: center;
        background-color: $CMX;
        -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .15);
        box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .15);
        -webkit-transition: width .6s ease;
        -o-transition: width .6s ease;
        transition: width .6s ease;
    }
    .order-card {
        color: #000000 !important;
        width: 313px;
        height: auto;
        background-color: $WHT;
        box-shadow: 0 2px 6px 3px rgba(0, 0, 0, 0.03);
        border: .33px solid $BRD;
        border-radius: 4px;
        // border-bottom: solid $CMX_;
        margin: 5px;
        min-height: 280px;
        max-height: 280px;
        font-family: $font-stack;

       
    }
    .order-detail {
        color: #000000 !important;
        width: 313px;
        height: auto;
        background-color: $WHT;
        box-shadow: 0 2px 6px 3px rgba(0, 0, 0, 0.03);
        border: .33px solid $BRD;
        border-radius: 4px;
        // border-bottom: solid $CMX_;
        margin: 10px;
        min-height: 142px;
        max-height: 280px;
        font-family: $font-stack;
    }
    .yrd {
        font-family: $font-stack;
        text-align: right;
        right: 15px;
        position: absolute;
        top: 37px;
    }
    .order-font-count {
        font-family: $font-stack;
        font-size: 18px;
        font-weight: bold;
        line-height: 24px;
        color: $CMX;
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: -0.9em;
    }
    .btn-default[_ngcontent-9eab-13]:active,
    .btn-default.active[_ngcontent-9eab-13],
    .open[_ngcontent-9eab-13] > .dropdown-toggle.btn-default[_ngcontent-9eab-13] {
        background-color: transparent !important;
        background-color: transparent !important;
        background: transparent !important;
        border-bottom: solid .33px $CMX_ ;
        border-radius: 0px !important;
        padding-bottom: 20px!important;
    }
    .open[_ngcontent-9eab-13] > .dropdown-toggle.btn-default[_ngcontent-9eab-13] {
        color: #333;
        background-color: transparent !important;
        background-color: transparent !important;
        background: transparent !important;
        border-bottom: solid .33px $CMX_ ;
        border-radius: 0px !important;
        padding-bottom: 20px!important;
    }
    .btn:hover,
    .btn:focus,
    .btn.focus {
        color: #333;
        text-decoration: none;
    }
    .btn-default:active,
    .btn-default.active,
    .open > .dropdown-toggle.btn-default {
        color: #333;
        background-color: transparent !important;
        border-color: #adadad;
    }
    .order-card:hover {
        width: 313px;
        height: auto;
        background-color: #FFFFFF;
        box-shadow: 0 2px 6px 3px rgba(0, 0, 0, 0.03);
        border: 1px solid #E1E1E1;
        border-radius: 4px;
        border-bottom: solid $CMX_;
        margin: 5px;
        cursor: pointer;
        box-shadow: 0 5px 10px 2px rgba(0, 0, 0, 0.18);
        transform: translateY(-10px);
        min-height: 280px;
        max-height: 280px;
    }
    .right {
        float: right;
        text-align: right;
    }
    .left {
        float: left;
        text-align: left;
    }
    .mini {
        font-size: 10px;
        line-height: 2;
        padding-right: 7px;
    }
    hr {
        width: 100%;
    }
    .status {
        &.NST {
            color: $NST;
            /* green */
        }
        &.STR {
            color: $STR;
            /* blue */
        }
        &.WCL {
            color: $WCL;
            /* pink */
        }
        &.OHD {
            color: $OHD;
            /* yellow */
        }
        &.CNC {
            color: $CNC;
            /* gray */
        }
        &.CMP {
            color: $CMP;
            /* purple */
        }
        &.PHD {
            color: $PHD;
            /* red */
        }
        &.CNL{
            color: $STR;
        }
        &.NTK{
            color:$NTK;
        }
        &.FIN{
            color:$FIN;
        }
    }
    .order-card {
        color: #000000;
        &.NST {
            border-bottom: solid $NST;
        }
        &.STR {
            border-bottom: solid $STR;
        }
        &.WCL {
            border-bottom: solid $WCL;
        }
        &.OHD {
            border-bottom: solid $OHD;
        }
        &.CNC {
            border-bottom: solid $CNC;
            /* gray */
        }
        &.CMP {
            border-bottom: solid $CMP;
            /* purple */
        }
        &.PHD {
            border-bottom: solid $PHD;
            /* red */
        }
        &.CNL{
            border-bottom: solid $STR;
        }
        &.NTK{
            border-bottom: solid $NTK;
        }
        &.FIN{
            border-bottom: solid $FIN;
        }
    }
     .order-detail {
        color: #000000;
        &.NST {
            border-bottom: solid $NST;
        }
        &.STR {
            border-bottom: solid $STR;
        }
        &.WCL {
            border-bottom: solid $WCL;
        }
        &.OHD {
            border-bottom: solid $OHD;
        }
        &.CNC {
            border-bottom: solid $CNC;
            /* gray */
        }
        &.CMP {
            border-bottom: solid $CMP;
            /* purple */
        }
        &.PHD {
            border-bottom: solid $PHD;
            /* red */
        }
        &.CNL{
            border-bottom: solid $STR;
        }
        &.NTK{
            border-bottom: solid $NTK;
        }
        &.FIN{
            border-bottom: solid $FIN;
        }
    }
    .status-table {
        // border-bottom: 4px solid #ddd;
        &.NST {
            border-left: #A5D756 solid;
        }
        &.STR {
            border-left: #2BB8F9 solid;
        }
        &.WCL {
            border-left: #EA5090 solid;
        }
        &.OHD {
            border-left: #FFCE33 solid;
        }
        &.CNC {
            border-left: #5A5A5A solid;
            /* gray */
        }
        &.CMP {
            border-left: #9215FF solid;
            /* purple */
        }
        &.PHD {
            border-left: #EF5757 solid;
            /* red */
        }

    }
    .icon-pulse {
        display: inline-block;
        -moz-animation: pulse 2s infinite linear;
        -o-animation: pulse 2s infinite linear;
        -webkit-animation: pulse 2s infinite linear;
        animation: pulse 2s infinite linear;
    }
    @-webkit-keyframes pulse {
        0% {
            opacity: 1;
        }
        50% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
    @-moz-keyframes pulse {
        0% {
            opacity: 1;
        }
        50% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
    @-o-keyframes pulse {
        0% {
            opacity: 1;
        }
        50% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
    @-ms-keyframes pulse {
        0% {
            opacity: 1;
        }
        50% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
    @keyframes pulse {
        0% {
            opacity: 1;
        }
        50% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }

tr {
    height: 50px;
    text-align: left;
    margin-bottom: 17px;
    border-spacing: 5em;
    border-bottom: 1px solid #ddd;
    border-radius: 5px;
    font-family: $font-stack;
    font-size: 12px;
    cursor:pointer;
   
}
tr:hover{
    background-color: $BRD;
    font-family: $font-stack;
    font-size: 12px;
    cursor:pointer;
}

th {
    padding-left: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    border-top:1px solid #ddd;

}

th:first-child {
    border-bottom: 1px solid #ddd;
    border-radius: 5px 0px 0px 5px;
}
th:last-child {
    border-bottom: 1px solid #ddd;
    border-radius: 0px 5px 5px 0px;
    border-right:1px solid #ddd;
}





table{
  border-spacing:0px 10px;
  border-collapse: separate;
  width: 97% !important;

}

tr > td {

    -webkit-transition: all 180ms ease-out;
    -moz-transition: all 180ms ease-out;
    -o-transition: all 180ms ease-out;
    -ms-transition: all 180ms ease-out;
}

 tr td > a,
 tr td > span {
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    max-width: 100%;
    text-decoration: none;
    vertical-align: middle;
}

tr.ng-enter {
    -webkit-animation: fadein 1s;
    /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 1s;
    /* Firefox < 16 */
    -ms-animation: fadein 1s;
    /* Internet Explorer */
    -o-animation: fadein 1s;
    /* Opera < 12.1 */
    animation: fadein 1s;
}

.ng-enter {
    -webkit-transition: all 250ms ease-in;
    -moz-transition: all 250ms ease-in;
    -o-transition: all 250ms ease-in;
    -ms-transition: all 250ms ease-in;
}

tr.ng-enter {
    -webkit-animation: fadein 1s;
    /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 1s;
    /* Firefox < 16 */
    -ms-animation: fadein 1s;
    /* Internet Explorer */
    -o-animation: fadein 1s;
    /* Opera < 12.1 */
    animation: fadein 1s;
}

td > .ng-hide {
    transition: none;
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    -ms-transition: none;
    opacity: 1;
}

.fade-in {
    -webkit-animation: fadein 1s;
    /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 1s;
    /* Firefox < 16 */
    -ms-animation: fadein 1s;
    /* Internet Explorer */
    -o-animation: fadein 1s;
    /* Opera < 12.1 */
    animation: fadein 1s;
}

.ng-enter.ng-enter-active {
    -webkit-transition: all 1s ease-in;
    -moz-transition: all 1s ease-in;
    -o-transition: all 1s ease-in;
    -ms-transition: all 1s ease-in;
    opacity: 1;
}

.ng-hide {
    -webkit-transition: all 180ms ease-in;
    -moz-transition: all 180ms ease-in;
    -o-transition: all 180ms ease-in;
    -ms-transition: all 180ms ease-in;
    opacity: 0;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


/* Firefox < 16 */

@-moz-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


/* Safari, Chrome and Opera > 12.1 */

@-webkit-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


/* Internet Explorer */

@-ms-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-o-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


}

.md-check {
    cursor: pointer;
    /*padding-left: 1.25rem;*/
    /*margin: 0;*/
    display: inline-block;
    position: relative;
    color: #1F2D4A;
    background-color: #fff;
    font-family: Roboto;
    font-size: 14px;
    line-height: 19px;
    width: 300px;
}

.md-check input {
    position: absolute;
    width: 100%;
    height: 30px;
    cursor: pointer;
    z-index: 1;
    opacity: 0;
    margin-left: -5.35rem;
    margin-top: -8px;
}

.md-check input:checked + i:before {
    border-width: 0;
    background-color: inherit;
    border: 1px solid #C5C5C5;
}

.md-check input:checked + span .active {
    display: inherit;
}

.md-check input[type="radio"] + i,
.md-check input[type="radio"] + i:before {
    border-radius: 50%;
}
.left{
  text-align: left;
}
.right{
  text-align: right;
}
.md-check input[type="checkbox"]:checked + i:after {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
    left: 5px;
    top: 2px;
    display: table;
    width: 6px;
    height: 10px;
    border: 2px solid #06ABF5;
    border-top: 0;
    border-left: 0;
    content: ' ';
}

.md-check input[type="radio"]:checked + i:after {
    position: absolute;
    left: 6px;
    top: 6px;
    display: table;
    width: 6px;
    height: 6px;
    background: #fff;
    border-radius: 50%;
    content: ' ';
}

.md-check input[disabled] + i:before,
fieldset[disabled] .md-check input + i:before {
    opacity: 0.5;
}

.md-check input[disabled]:checked + i:before {
    opacity: 0.5;
}

.md-check > i {
    width: 0;
    height: 16px;
    line-height: 1;
    margin-left: 10px;
    margin-top: 1px;
    float: left;
    display: inline-block;
    vertical-align: middle;
    margin-right: 28px;
    position: relative;
}

.md-check > i:before {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    border: 1px solid #C5C5C5;
    border-radius: 2px;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
}

.button-drp {
    border: none;
    font-size: 16px;
    font-family: Roboto;
    line-height: 10px;
    margin-top: 14.3px;
    margin-bottom: 10px;
    background: transparent;
    display: inline-block;
    width: 100px;
}
.button-drp:hover {
    background-color: transparent !important;
    border-bottom: none !important;
    background: transparent !important;
}
.button-drp:active {
    border-bottom: none !important;
    background-color: transparent !important;
    background: transparent !important;
}

.md-form-group {
    padding: 18px 0 24px 0;
    position: relative;
}

.md-input {
    background: transparent;
    position: relative;
    z-index: 5;
    border: 0;
    box-shadow: none;
    border-radius: 0;
    border-bottom: 1px solid rgba(160, 160, 160, 0.2);
    width: 100%;
    height: 34px;
    padding: 2px;
    color: inherit;
}

.md-input:focus,
.md-input.focus {
    border-color: #2E8AF5;
    border-bottom-width: 2px;
    padding-bottom: 1px;
}

.md-input:focus ~ label,
.md-input.focus ~ label {
    color: #2E8AF5;
    opacity: 1;
    top: 0 !important;
    font-size: 0.85em !important;
}

.float-label .md-input ~ label {
    top: 20px;
    font-size: 1em;
}

.float-label .md-input.ng-dirty ~ label,
.float-label .md-input.has-value ~ label {
    top: 0;
    font-size: 0.85em;
}

.md-input ~ label {
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
    font-size: 0.85em;
    position: absolute;
    z-index: 0;
    opacity: 0.5;
    display: inline-block;
    top: 0px;
    left: 0;
}

.md-input.disabled,
.md-input[disabled] {
    opacity: 0.5;
}

.arrow-menu {
    width: 10px;
    margin-bottom: 2px;
    margin-left: 5px;
    margin-right: 20px;
    content: url("/vendor/images/arrow-down-blue.svg");
}

.options {
    font-weight: normal;   
}

.status-options {
    font-weight: normal;
    margin-left: 5px;
}