@import './../../assets/sass/variables';
@import './../../assets/sass/layout';
@import './../../assets/sass/tricks';
nav.sidebar {
    overflow-y: scroll;
}

::-webkit-scrollbar {
    width: 0px;
}

::-webkit-scrollbar-track {
    background-color: #eaeaea;
    // border-left: 1px solid #ccc;
}

::-webkit-scrollbar-thumb {
    background-color: $color-brand;
}

::-webkit-scrollbar-thumb:hover {
    background-color: $color-brand;
}

nav.sidebar,
.main {
    -webkit-transition: margin 200ms ease-out;
    -moz-transition: margin 200ms ease-out;
    -o-transition: margin 200ms ease-out;
    transition: margin 200ms ease-out;
}

nav.navbar {
    border-radius: 0px;
}

.nav.navbar-nav {
    min-height: 500px;
}

ul.dropdown-menu.no-padding-vertical {
    padding-bottom: 0px;
    padding-top: 0px;
}

.main {
    padding: 10px 10px 0 10px;
}

.client {
    opacity: .6;
    font-size: 14px;
}

.selector {
    background-color: white !important;
}

.selector li a {
    color: #111725;
}

.one-liner {
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
    padding-left: 4px;
    padding-right: 8px;
    max-width: 204px;
}

.centered-content {
    text-align: center;
}

.padded {
    padding-top: 6px + 8px;
    padding-bottom: 8px;
}

.p14left {
    padding-left: 14px;
}

.dropdown-menu .divider {
    height: 1px;
    margin: 0;
    overflow: hidden;
    background-color: #e5e5e5;
}

.confirm-button {
    background-color: white;
    border-color: $color-brand;
    color: $color-brand;
    padding: 4px 62px;
}

.jobsites a.parent {
    font-size: 15px;
    padding-left: 16px;
    font-weight: 600;
    background-color: #1C2439 !important;
    text-transform: uppercase;
}

.jobsites ul {
    display: inline;
}

.jobsite.selected>a,
.jobsite.selected>a:focus,
.jobsite.selected>a:active,
.jobsite.selected>a:link,
.jobsite.selected>a:visited,
.jobsite.selected>a:hover {
    color: $color-highlight !important;
    background-color: #111725 !important;
}

.jobsite>a {
    padding-left: 24px;
    padding-top: 8px;
    padding-bottom: 8px;
}

.jobsites>.parent>.number {
    background-color: #111725;
    color: white;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 8px;
    min-width: 40px;
    text-align: center;
    font-weight: 600;
    margin-right: 4px;
}

.jobsite>a>.number {
    background-color: #111725;
    color: white;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 8px;
    min-width: 40px;
    text-align: center;
    font-weight: 600;
}

.jobsite.selected>a>.number {
    background-color: $color-highlight;
    color: white;
}

.jobsite>a>span.desc {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5em;
    width: 162px;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
}

.customer-label {
    color: inherit;
    background-color: inherit;
}

.jobsite.selected>a>span.desc {
    font-weight: 900;
}

.order {
    font-size: 12px;
    max-width: $sidebar-item-width;
}

.order .pod {
    color: $color-positive;
    font-size: 10px;
}

.order .id {
    padding-left: 16px;
    font-weight: 600;
}

.order>a {
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 24px;
    padding-right: 18px;
}

.dropdown-menu>li>a {
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
    max-width: $sidebar-item-width;
}

.invisible {
    visibility: hidden;
}

.load {
    padding-left: 16px;
    opacity: .7;
}

@media (min-width: 620px) {
    .main {
        position: absolute;
        width: calc(100% - 40px);
        font-weight: 900;
        // margin-left: 40px;
        float: right;
    }
    nav {
        font-family: 'Roboto', sans-serif;
        background-color: $color-brand-dark;
    }
    nav.sidebar:active+.main {
        margin-left: $sidebar-width;
    }
    nav.sidebar.navbar.sidebar>.container .navbar-brand,
    .navbar>.container-fluid .navbar-brand {
        margin-left: 0px;
    }
    nav.sidebar .navbar-brand,
    nav.sidebar .navbar-header {
        text-align: center;
        width: 100%;
        margin-left: 0px;
    }
    nav.sidebar a {
        color: white;
    }
    nav.sidebar .navbar-nav>li:first-child>a {
        background-color: #111725;
        font-size: 16px;
        line-height: 1.6em;
    }
    nav.sidebar .navbar-nav .open .dropdown-menu {
        position: static;
        float: none;
        width: auto;
        margin-top: 0;
        background-color: $color-brand-dark;
        border: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
    nav.sidebar .navbar-collapse,
    nav.sidebar .container-fluid {
        padding: 0 0px 0 0px;
    }
    nav.sidebar {
        width: $sidebar-width;
        height: 100%;
        margin-left: $sidebar-collapsed-width - $sidebar-width + 23px;
        float: left;
        margin-bottom: 0px;
    }
    nav.sidebar li {
        width: 100%;
    }
    nav.sidebar:hover {
        margin-left: 0px;
    }
    nav.open>a,
    nav.open>a:hover,
    nav.open>a:focus {
        background-color: inherit;
    }
    .nav .open>a,
    .nav .open>a:hover,
    .nav .open>a:focus {
        background-color: inherit;
    }
    .nav>li>a {
        padding-left: 24px;
    }
    .nav>li>a:hover,
    .nav>li>a:focus {
        background-color: inherit;
    }
    .dropdown-menu {
        border-radius: 0;
    }
    .dropdown-menu>li>a:hover,
    .dropdown-menu>li>a:focus {
        background-color: inherit;
    }
    .forAnimate {
        opacity: 0;
    }
}

@media (min-width: 1330px) {
    .main {
        margin-left: $sidebar-width;
    }
    nav.sidebar {
        margin-left: 0px;
        float: left;
    }
    nav.sidebar .forAnimate {
        opacity: 1;
    }
    label {
        visibility: visible;
    }
    .tab-wrap {
        visibility: visible;
    }
}

nav.sidebar .navbar-nav .open .dropdown-menu>li>a:active,
nav.sidebar .navbar-nav .open .dropdown-menu>li>a:focus {
    color: white;
    background-color: transparent;
}

nav:hover .forAnimate {
    opacity: 1;
}

section {
    padding-left: 15px;
}

// Checkbox style
// =================================================
.checkbox label:after,
.radio label:after {
    content: '';
    display: table;
    clear: both;
}

.checkbox .cr,
.radio .cr {
    position: relative;
    display: inline-block;
    border: 1px solid #a9a9a9;
    border-radius: .25em;
    width: 1.3em;
    height: 1.3em;
    float: left;
    margin-right: .5em;
}

.radio .cr {
    border-radius: 50%;
}

.checkbox .cr .cr-icon,
.radio .cr .cr-icon {
    position: absolute;
    font-size: .8em;
    line-height: 0;
    top: 50%;
    left: 20%;
}

.radio .cr .cr-icon {
    margin-left: 0.04em;
}

.checkbox label input[type="checkbox"],
.radio label input[type="radio"] {
    display: none;
}

.checkbox label input[type="checkbox"]+.cr>.cr-icon,
.radio label input[type="radio"]+.cr>.cr-icon {
    //transform: scale(3) rotateZ(-20deg);
    opacity: 0;
    transition: all .1s ease-in;
}

.checkbox label input[type="checkbox"]:checked+.cr>.cr-icon,
.radio label input[type="radio"]:checked+.cr>.cr-icon {
    //transform: scale(1) rotateZ(0deg);
    opacity: 1;
}

.checkbox label input[type="checkbox"]:disabled+.cr,
.radio label input[type="radio"]:disabled+.cr {
    opacity: .5;
}

.checkbox label {
    padding-left: 14px;
}

.blue {
    color: $color-brand-dark;
}

// Tabs
// ===================================
$cyan: #1F2A44;
$yellow: #1577FF;
$grey: #9e9e9e;
$num-of-tabs: 2;
@mixin tabs {
    @for $i from 1 through $num-of-tabs {
        &:nth-of-type(#{$i}) {
            &:checked {
                ~.slide {
                    left: calc((100% / #{$num-of-tabs}) * #{$i - 1});
                }
            }
        }
    }
}

.tab-wrap {
    position: relative;
    display: flex;
}

input[type="radio"][name="tabs"] {
    position: absolute;
    z-index: -1;
    &:checked {
        +.tab-label-content {
            label {
                color: white;
            }
            .tab-content {
                display: block;
            }
        }
    }
    @include tabs;
    &:first-of-type {
        &:checked {
            ~.slide {
                left: 0;
            }
        }
    }
}

label {
    cursor: pointer;
    color: rgba(255, 255, 255, 0.8);
    background-color: $cyan;
    box-sizing: border-box;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 48px;
    transition: color 0.2s ease;
    width: 100%;
    font-size: 14px;
    font-weight: normal;
    line-height: 16px;
}

.slide {
    background: $yellow;
    width: calc(100% / #{$num-of-tabs});
    height: 4px;
    position: absolute;
    left: 0;
    top: calc(100% - 6px);
    transition: left 0.3s ease-out;
}

.tab-label-content {
    width: 100%;
    background-color: #1F2A44;
    .tab-content {
        position: absolute;
        top: 100px;
        left: 16px;
        line-height: 130%;
        display: none;
    }
}

@media screen and (max-width: 800px) {
    h1 {
        padding: 40px 0 90px 10%;
    }
    // .tab-wrap {
    //     width: 80%;
    //     margin-left: 10%;
    //     top: -106px;
    // }
}

.arrow-menu {
    width: 10px;
    margin-left: 10px;
    content: url("/vendor/images/arrow-down-white.svg");
}