<nav [ngClass]="{'loading-state': loading }" class="navbar sidebar" role="navigation">
    <div class="collapse navbar-collapse container-fluid" id="bs-sidebar-navbar-collapse-1">
        <ul class="nav navbar-nav">
            <li [class]="mainDropdownStyle()">
                <a (click)="toogleMainDropdown()" class="dropdown-toggle clickable">
                    <div class="client">{{ t.pt("views.sidebar.client") }} {{selectedCustomer?.customerCode}}</div>{{selectedCustomer?.customerName}}<span class="arrow-menu"></span>
                </a>
                <ul class="dropdown-menu forAnimate selector" *ngFor="let customer of customers; let i = index; let last = last;" role="menu">
                    <li>
                        <div class="checkbox">
                            <label class="customer-label">
                                <input type="checkbox" value="" checked />
                                <span class="cr"><i class="cr-icon glyphicon glyphicon-ok blue"></i></span>
                                <div class="one-liner">{{customer?.customerName}}</div>
                            </label>
                        </div>
                    </li>
                    <li *ngIf="last" class="divider"></li>
                    <div *ngIf="last" class="centered-content padded">
                        <button (click)="confirmMainDropdown()" class="btn confirm-button">Confirm</button>
                    </div>
                </ul>
            </li>
            <li>
                <div class="tab-wrap">
                    <input type="radio" name="tabs" id="tab1" (checked)="favesExist">
                    <div class="tab-label-content" id="tab1-content">
                        <label for="tab1" (click)="onTab('favorites')">{{ t.pt("views.sidebar.favorites") }}</label>
                    </div>
                    <input type="radio" name="tabs" id="tab2" (checked)="!favesExist">
                    <div class="tab-label-content" id="tab2-content">
                        <label for="tab2" (click)="onTab('active')">{{ t.pt("views.sidebar.active") }}</label>
                    </div>
                    <!--<input type="radio" name="tabs" id="tab3">
                    <div class="tab-label-content" id="tab3-content">
                        <label for="tab3" (click)="onTab('inactive')">{{ t.pt("views.sidebar.inactive") }}</label>
                    </div>  no olvides cambiar el numero de tabs en el CSS-->
                    <div class="slide"></div>
                </div>
            </li>
            <li class="dropdown open jobsites">
                <a class="parent">
                    <span class="desc" (click)="gotoGlobalSummary()">{{ t.pt("views.sidebar.jobsites") }}</span>
                    <span class="pull-right number">{{getJobsitesQty()}}</span>
                </a>
                <ul *ngFor="let jobsite of jobsites; let first = first;" class="dropdown-menu forAnimate no-padding-vertical" role="menu" (click)="selectJobsite(jobsite)">
                    <li [ngClass]="{'selected': isSelected(jobsite) }" class="dropdown jobsite" *ngIf="(showActives == true) || (jobsite.favoriteStatus == 'Y' && showFavorites == true)">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <span class="desc capitalize-custom">{{jobsite.jobsiteDesc}}</span>
                            <span class="pull-right number">{{jobsite.orders.length}}</span>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</nav>