.main-container {
    padding: 21px 24px;
    font-family: Roboto;
    border: 1px solid #EEEEEE;
}

.breadcrumb {
    background-color: inherit;
    font-size: 12px;
    line-height: 16px;
    padding: 0px;
    margin-bottom: 12px;
}

.breadcrumb li {
    display: inline;
    max-width: 135px;
    a {
        color: #2E8AF5;
    }
}

.breadcrumb li:last-child {
    color: #1F2D4A;
}

.breadcrumb li+li:before {
    content: url("/vendor/images/arrow-right.svg");
    padding: 0px 12px;
}

// Second row
.order-title {
    font-size: 20px;
    font-weight: bold;
    line-height: 26px;
    color: #19233A;
}

.order-type {
    padding-left: 14px;
    font-size: 12px;
    line-height: 12px;
    color: #1F2D4A;
}

.order-status {
    padding-left: 14px;
    font-size: 12px;
    line-height: 12px;
    color: #1F2D4A;
}

.order-status:before {
    content: ' \25CF';
    font-size: 14px;
    padding-right: 8px;
    color: #03A9F4;
}