<div class="main-container">
    <ol class="breadcrumb">
        <li><a href="#">{{customer?.customerName}}</a></li>
        <li><a href="#">{{order?.jobsiteItem.jobsiteDesc}}</a></li>
        <li>{{order?.orderCode}}</li>
    </ol>
    <div>
        <span class="order-title">{{order?.orderCode}}</span>
        <span class="order-type">{{order?.orderStatusDesc}}</span>
        <span class="order-status">{{order?.orderStatusGroupCode}}</span>
    </div>
</div>