@import url('https://fonts.googleapis.com/css?family=Roboto');
.cemex-chart-donut-legends{
    width: 12px;
    height: 12px;
    border-radius: 3px;
}
.cemex-chart-donut-legend-margin{
    margin-left: -20px;
    margin-top: 50px;
}
.move-bitch{
    padding: 20px 20px 0 20px;
}
.cemex-progress-chart-top-margin{
    margin-bottom: 0px !important;
    margin-top:0px !important;
    
}
.progress{
    margin-bottom: 10px !important;
}
.cemex-progress-align-text{
    line-height: 16px;
    color: #2D2D2D;
    padding-right: 0;
    font-size: 12px;
}
.cemex-progress-chart-pull-right{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 15px;
}
.chart-right-titles{
    color: #1F2D4A;
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    margin-bottom: 10px;
}

.chart-left-titles{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: bold;
    line-height: 21px;
    color: #1F2D4A;
}
.progress-bar-vertical {
  width: 20px;
  min-height: 73.88px;
  display: flex;
  align-items: flex-end;
  margin-right: 20px;
  float: left;
}

.progress-bar-vertical .progress-bar {
  width: 100%;
  height: 0;
  -webkit-transition: height 0.6s ease;
  -o-transition: height 0.6s ease;
  transition: height 0.6s ease;
}

.vertical-chart-porcentage{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #19233A;
}

.vertical-chart-text{
    font-family: 'Roboto', sans-serif;
    font-size: 8px;
    color: #19233A;
}