<div style="display: block" class="cemex-progress-chart-pull-right">
    
    <div class="row">
        <div class="col-md-1" *ngFor="let progression of chartData;let indi=index" style="width:54px;">
            <div class="progress progress-bar-vertical" style="height:8px">
                <!--<div class="progress-bar" [ngClass]="getClass(indi)" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" [style.width]="progression.progress + '%'"></div>-->
                <div class="progress-bar" role="progressbar" [ngClass]="getClass(indi)" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" [style.height]="progression.progress + '%'"></div>
            </div>
            <span class="vertical-chart-porcentage">{{progression.total}}</span>
            <p class="vertical-chart-text">{{progression.title}}</p>
        </div>
    </div>

    
</div>