<div [hidden]="!active" class="pane">
    <div class="form-header-container">
        <div class="container-fluid remove-padding">
            <div class="col-md-10">
                <h2>{{ _formTitle }}</h2>
                <h3 *ngIf="_formSubtitle">{{ _formSubtitle }}</h3>
            </div>
        </div>
    </div>
    <ng-content></ng-content>
</div>