@import './../dcm-cemex/dcm-cemex-theme.scss';

.form-header-container{
    position: relative;
    padding: 30px 20px;
    padding-bottom: 0;

    h2{
        height: 24px;
        line-height: 24px;
        margin: 0;
        font-size: 16px;
        font-size: 18px;
        font-weight: 600;
        color: $black;
    }

    h3{
        height: 16px;
        line-height: 16px;
        margin: 0;
        margin-top: 4px;
        font-size: 12px;
        color: $disabled-color;
    }
}

.wizard-close-trigger{
    width: 100%;
    color: $black;
    text-align: right;
    display: block;
}