$section-height: 100px;

.company-section{
    height: $section-height;
    background-color: midnightblue;
    border: none;
    color: #FFFFFF;
}

.left-content{
    box-sizing: border-box;
    height: $section-height;
    padding-top: 10px;
    text-align: left;
    span{
        display: block;
        width: 100%;
    }
    .company-name{
        font-size: 3rem;
    }
    .company-id{
        font-size: 2rem;
    }
}

.right-content{
    box-sizing: border-box;
    text-align: right;
    span{
        font-size: 2rem;
    }
    .company-balance{
        font-size: 3rem;
    }
}