<section style="height: 50px; background-color: #333333;"></section>
<section class="company-section">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <div class="left-content">
                    <span class="company-name">Home Depot</span>
                    <span class="company-id">#023413</span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="right-content">
                    <span>
                        Company Net Balance <span class="company-balance">$1,500.86</span>
                    </span>
                </div>
            </div>
        </div>
    </div>
</section>