@import url('//fonts.googleapis.com/css?family=Roboto:400,400i,500,500i,700,700i,900,900i');
// ================================
// App layout stuff
// ================================
$sidebar-width: 268px;
$sidebar-collapsed-width: 45px;
$header-height: 50px;
$content-separation: 0px;
$sidebar-item-width: $sidebar-width - 2;