// ================================
// App colors
// ================================
$color-brand: #355FA1;
$color-brand-dark: #1F2D4A;
$color-highlight: #2E8AF5;
// Status colors
$color-negative: #F05656;
$color-positive: #3ADD76;
$color-warning: #FFC82C;
$color-blue: #2E8AF5;
$color-blocked: #C5C5C5;
// Gray colors
$color-mine-shaft: #2D2D2D;
$color-gray: #8C8C8C;
$color-seashell: #F1F1F1;
$color-alabaster: #F9F9F9;
$color-periwinkle-gray: #EDEFF6;

// App Breakpoints
/* Usage
@media (max-width: $screen-xs-max) { ... } //mobile
@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) { ... } //tablet
@media (min-width: $screen-md-min) and (max-width: $screen-md-max) { ... } //desktop md
@media (min-width: $screen-lg-min) { ... } //desktop lg
*/
// ================================
$screen-sm-min: 768px;
$screen-xs-max: ($screen-sm-min - 1);
$screen-md-min: 992px;
$screen-sm-max: ($screen-md-min - 1);
$screen-lg-min: 1200px;
$screen-md-max: ($screen-lg-min - 1);