<h1> Md Input Container Demo: </h1>
<hr>
<br>
<form [formGroup]="_paymentForm">
<md-input-container [form-control-name]="_paymentForm.controls.paymentAmount">
    <label>Payment Amount</label>
    <input formControlName="paymentAmount" type="number" min="0" >
</md-input-container>
</form>