<div class="md-input-container" [class.has-icon]="_iconFloat">
    <ng-content></ng-content>
    <div class="icon-positioner" *ngIf="_formControlExists">
        <span md-icon md-set="close" *ngIf="_formControlName.errors && _formControlName.dirty" extra-small-size></span>
        <span md-icon md-set="success" *ngIf="!_formControlName.errors && _formControlName.dirty" extra-small-size></span>
    </div>
</div>