@import './../dcm-cemex/dcm-cemex-theme';

$input-container-height: 48px;
$md-input-container-height: 48px;


.md-input-container{
    display: inline-block;
    width: 100%;
    position: relative;
    background: none;
    height: $md-input-container-height;
    margin-top: 18px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: none;
    border-bottom: 1px solid $primary-color;

    label{
        position: absolute;
        top: -12px;
        left: 0;
        color: $disabled-color;
        font-size: 10px;
    }

    input{
        background: none;
        border: none;
        color: $black;
        height: $input-container-height;
        width: 100%;
    }
    input::-webkit-input-placeholder, input:-moz-placeholder, input::-moz-placeholder, input:-ms-input-placeholder{
        color: $disabled-color;
    }
    input:focus{
        outline: none;
    }
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        /* display: none; <- Crashes Chrome on hover */
        -webkit-appearance: none;
        margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
    }

    .icon-positioner{
        display: block;
        position: absolute;
        top: 16px;
        right: 0;
    }
}



.has-icon{
    input{
        width: 90%;
    }
    i{
        color: $black;
        margin-right: 10px;
    }
}