﻿.control-panel {
    background: url("/vendor/images/background-login.jpg")  no-repeat center center !important;
    min-height: 100vh;
    -ms-background-size: cover;
    background-size: cover;
    text-align:center;
    padding-top: 2%;
    overflow-y: hidden
}

.login-panel {
    padding: 1px;
    -ms-border-radius: 4px;
    border-radius: 4px;
    background-color: #FFFFFF;
    width: 320px;
    min-height: 316px;
    margin: 25px auto;
    color: #19233A;
    text-align: center;
    font-family: 'Ek Mukta', sans-serif;
}

.custom-input.minimal {
    position: relative;
    font-size: 12px;
}

.custom-input.minimal input {
    height: 40px;
    width: 80%;
    padding: 0;
    margin: 0;
    border: 0;
    background-color: transparent !important;
    outline: 0;
    padding-bottom: 5px;
    border-bottom: 1px solid #FFFFFF;
    -ms-opacity: 0.5;
    opacity: 0.5;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Ek Mukta', sans-serif;
}

.custom-input.minimal input:hover,
.custom-input.minimal input:focus,
.custom-input.minimal input:hover ~ .fa,
.custom-input.minimal input:focus ~ .fa {
    opacity: 1;
}

.custom-input.minimal + .custom-input.minimal {
    margin-top: 30px;
}

.custom-input.minimal.has-icon input {
    padding-right: 20px;
}

.custom-input.minimal.has-icon .fa {
    position: absolute;
    right: 0;
    top: 0;
    font-size: 18px;
    color: #FFFFFF;
    text-decoration: none;
    opacity: 0.5;
}

.transition-all {
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
}
.mt1 {
    margin-top: 1em;
}

.info {
    padding-top: 9%;
}

.drop-lang {
    position: absolute;
    right: 3%;
    left: 87%;
    margin-top: 2%;
}

.btn-lang {
    position: absolute;
    right: 3%;
    color: #fff;
    background-color: transparent;
    font-family: Roboto;
    font-size: 16px;
    line-height: 21px;
    border: none;
}

.btn-lang:focus,
.btn-lang.focus {
    color: #fff;
    background-color: transparent;
    border: none;
}

.btn-lang:hover {
    color: #fff;
    background-color: transparent;
    border: none;
}

.btn-lang:active,
.btn-lang.active,
.open > .dropdown-toggle.btn-lang {
    color: #fff;
    background-color: transparent;
    box-shadow: none;
    border: none;
}

.btn-lang:active:hover,
.btn-lang.active:hover,
.open > .dropdown-toggle.btn-lang:hover,
.btn-lang:active:focus,
.btn-lang.active:focus,
.open > .dropdown-toggle.btn-lang:focus,
.btn-lang:active.focus,
.btn-lang.active.focus,
.open > .dropdown-toggle.btn-lang.focus {
    color: #fff;
    background-color: transparent;
    border: none;
}

.btn-lang:active,
.btn-lang.active,
.open > .dropdown-toggle.btn-lang {
    background-image: none;
    background-color: transparent;
    border: none;
}

.btn-lang.disabled:hover,
.btn-lang[disabled]:hover,
fieldset[disabled] .btn-lang:hover,
.btn-lang.disabled:focus,
.btn-lang[disabled]:focus,
fieldset[disabled] .btn-lang:focus,
.btn-lang.disabled.focus,
.btn-lang[disabled].focus,
fieldset[disabled] .btn-lang.focus {
    background-color: transparent;
    border: none;
}



.md-check {
    cursor: pointer;
    /*padding-left: 1.25rem;*/
    /*margin: 0;*/
    display: inline-block;
    position: relative;
    color: #1F2D4A;
    background-color: #fff;
    font-family: Roboto;
    font-size: 14px;
    line-height: 19px;
    text-overflow: ellipsis;
    overflow-wrap: break-word;
    overflow: hidden;
    white-space: nowrap;
    padding: 0;
}

.dropdown-menu > li > a:hover {
    background-color: transparent;
}

.font-order {
    font-family: Roboto;
    font-size: 18px;
    font-weight: bold;
    color: #2D2D2D;
}

.md-check input {
    position: absolute;
    width: 0;
    height: 48px;
    margin-top: -13px;
    cursor: pointer;
    z-index: 1;
    opacity: 0;
    margin-left: -3.65rem;
}

.padding{
  padding: 20px;
}

.md-check input:checked + i:before {
    border-width: 0;
    background-color: inherit;
    border: none;
}

.md-check input:checked + span .active {
    display: inherit;
}

.md-check input[type="radio"] + i,
.md-check input[type="radio"] + i:before {
    border-radius: 50%;
}
.left{
  text-align: left;
}
.right{
  text-align: right;
}
.md-check input[type="checkbox"]:checked + i:after {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
    left: 5px;
    top: 2px;
    display: table;
    width: 6px;
    height: 10px;
    border: 2px solid #06ABF5;
    border-top: 0;
    border-left: 0;
    content: ' ';
}

.md-check input[type="radio"]:checked + i:after {
    position: absolute;
    left: 6px;
    top: 6px;
    display: table;
    width: 6px;
    height: 6px;
    background: #fff;
    border-radius: 50%;
    content: ' ';
}

.md-check input[disabled] + i:before,
fieldset[disabled] .md-check input + i:before {
    opacity: 0.5;
}

.md-check input[disabled]:checked + i:before {
    opacity: 0.5;
}

.md-check > i {
    width: 0;
    height: 16px;
    line-height: 1;
    margin-left: 10px;
    margin-top: 1px;
    float: left;
    display: inline-block;
    vertical-align: middle;
    margin-right: 28px;
    position: relative;
}

.md-check > i:before {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    border: none;
    border-radius: 2px;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
}

.arrow-menu {
    width: 10px;
    content: url("/vendor/images/arrow-down-white.svg");
}