<form class="control-panel">
    <div class="dropdown">
        <button class="btn btn-default dropdown-toggle btn-lang" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{ language }}
            <span class="arrow-menu"></span>
        </button>
        <ul class="dropdown-menu drop-lang">
            <li style="padding: 5px;">
                <a class="md-check" (click)="changeLanguage('en')">
                    <input type="checkbox" [checked]="enflagged">
                    <i></i>
                    <img src="/vendor/images/usa_flag.svg" />
                     {{ t.pt('views.signin.english') }}
                </a>
            </li>
            <li style="border-top:1px solid #E8E8E8; padding: 5px;">
                <a class="md-check" (click)="changeLanguage('es')">
                    <input type="checkbox" [checked]="esflagged">
                    <i></i>
                    <img src="/vendor/images/mex_flag.svg" />
                    {{ t.pt('views.signin.spanish') }}
                </a>
            </li>
        </ul>
    </div>
    <div class="info">
        <div>
            <img src="/vendor/images/logo-cemex-white.png" />
        </div>
        <div class="login-panel">
            <h3>{{ t.pt('views.signin.trackandtrace') }}</h3>
            <h4>{{ t.pt('views.signin.welcome') }}</h4>
            <hr>
            <div id="loginError" class="alert alert-danger" *ngIf="loginError">
                {{ t.pt('views.signin.invalid_credentials') }}
                <br>
                {{ t.pt('views.signin.please_try_again') }}
            </div>
            <div class="custom-input minimal">
                <input [(ngModel)]="username" class="transition-all" name="username" type="text" placeholder="{{ t.pt('views.signin.username') }}" />
            </div>
            <hr>
            <div class="custom-input minimal">
                <input [(ngModel)]="password" class="transition-all" name="password" type="password" placeholder="{{ t.pt('views.signin.password') }}" />
            </div>
            <div class="mt1">
                <cemex-button (click)="login()" title="{{ t.pt('views.signin.login') }}" (ngSubmit)="login()" ></cemex-button>
            </div>
        </div>
    </div>
</form>

