<h1> Button Demo: </h1>
<hr>
<h3>Normal Buttons</h3>
<cemex-button title="Confirm" [type]="buttonPrimary" [size]="buttonNormal"></cemex-button>
<cemex-button title="Confirm" [type]="buttonSecondary" [size]="buttonNormal"></cemex-button>


<h3>Medium Buttons</h3>
<cemex-button title="Confirm" [type]="buttonPrimary"   [size]="buttonMedium"></cemex-button>
<cemex-button title="Confirm" [type]="buttonSecondary" [size]="buttonMedium"></cemex-button>

<h3>Small Buttons</h3>
<cemex-button title="Confirm" [type]="buttonPrimary"   [size]="buttonSmall"></cemex-button>
<cemex-button title="Confirm" [type]="buttonSecondary" [size]="buttonSmall"></cemex-button>
