@import url( 'https://fonts.googleapis.com/css?family=Roboto' );

$background-color: #426B87;
$primary-color: #29ABE2;
$dark-primary-color: #020028;
$accent-color: #7AC943;
$disabled-color: #9B9B9B;
$white: #FFFFFF;
$black: #1A1A1A;

body{
    font-family: 'Roboto' !important;
    background-color: $background-color;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto';
}

p, div, span{
    font-family: 'Roboto';
}

.add-padding{
    padding: 20px;
}

.remove-padding{
    padding: 0;
    div{
        padding: 0;
    }
}

.instruction{
    color: $disabled-color;
}