<h1> Md Radio Bbutton with Image Demo: </h1>
<hr>

<!--<form [formGroup]="_cardForm">
    <md-radio-button>
        <input type="radio" formControlName="card" name="card" value="Credit Card">
    </md-radio-button>
    <br>
    <md-radio-button>
        <input type="radio" formControlName="card" name="card" value="Debit Card">
    </md-radio-button>
    <br>
</form>-->

<form [formGroup]="_paymentForm">
    <md-radio-button image-src="/vendor/images/banorte-logo.png">
        <input type="radio" formControlName="bank" name="bank" value="banorte">
    </md-radio-button>
    <br>
    <md-radio-button image-src="/vendor/images/bbvabancomer-logo.png">
        <input type="radio" formControlName="bank" name="bank" value="bancomer">
    </md-radio-button>
    <br>
    <md-radio-button image-src="/vendor/images/hsbc-logo.png">
        <input type="radio" formControlName="bank" name="bank" value="hsbc">
    </md-radio-button>
    <br>
    <md-radio-button image-src="/vendor/images/citibanamex-logo.png">
        <input type="radio" formControlName="bank" name="bank" value="citibanamex">
    </md-radio-button>
</form>