$images-path: '/vendor/images/';

$md-radio-button-height: 36px;

md-radio-button{
    display: block;
    height: $md-radio-button-height;

    img{
        width: 100%;
        height: auto;
        max-width: 100%;
        max-height: 100%;
        display: inline-block;
        vertical-align: middle;
    }
    .md-radio-button-label{
        margin: 30px 0;
        display: block;
        height: $md-radio-button-height;
    }
    .md-radio-button-label > input{
        visibility: hidden; // Makes input not-clickable
        position: absolute; // Removes input from document flow
    }
    .md-radio-button-label > input + img{
        opacity: 0.50;
        cursor:pointer;
    }
    .md-radio-button-label > input:checked + img{
        opacity: 1;
    }
}