<div class="order-card" style="margin-top: 20px;">
    <div class="col-md-3 order-detail" *ngFor="let item of ROI" [ngClass]="item?.ticketGroupBy[0].ticketStatusGroupCode">
        <br>
        <div class="left order-font">Load {{item?.loadNumber}}</div>
        <br>
        <div class="left sub-order-font">Truck: {{item?.ticketGroupBy[0].truckId}} | Ticket: {{item?.ticketCode}} </div>
        <hr>
        <div style="margin-bottom: auto;">
            <div class="left sub-order-font">{{item?.productDesc }} </div>
            <div class="left">{{item?.productQuantity}} </div>
            <div class="sub-font-status">{{item?.unitDesc}} </div>
        </div>
        <hr style="margin-bottom: 35px;">
        <div class="col-md-12 position-down-left">
            <i class="fa fa-circle left status mini" [ngClass]="item?.ticketGroupBy[0].ticketStatusGroupCode" aria-hidden="true"></i>
            <div class="left">{{item?.orderDetStatus}} </div>
        </div>
    </div>
</div>