<div class="loader-box">
	<div class="loader">
    <div class="loader-animation">
      <img src="/vendor/images/spinner.png" width="1100" height="70">
    </div>
	</div>
	<div class="lable">Loading</div>
</div>
