<h1>Simple Card Demo</h1>
<hr>
<div class="col-md-6 col-lg-6">
    <cemex-simple-card title="Today's volume"><cemex-progress-chart></cemex-progress-chart></cemex-simple-card>
</div>
<div class="col-md-6 col-lg-6">
    <cemex-simple-card title="Today's volume"><cemex-half-donut></cemex-half-donut> </cemex-simple-card>
</div>
<div class="col-md-6 col-lg-6">
    <cemex-simple-card title="Tomorrow's volume"><cemex-chart-donut></cemex-chart-donut></cemex-simple-card>
</div>
