@import "../ordercard/ordercards";

.filter-list li {
    margin: 10px 0 0;
}

.md-check {
    cursor: pointer;
    /*padding-left: 1.25rem;*/
    /*margin: 0;*/
    display: inline-block;
    position: relative;
    color: #1F2D4A;
    background-color: #fff;
    font-family: Roboto;
    font-size: 14px;
    line-height: 19px;
}

.font-order {
    font-family: Roboto;
    font-size: 18px;
    font-weight: bold;
    color: #2D2D2D;
}

.md-check input {
    position: absolute;
    width: 100%;
    cursor: pointer;
    z-index: 1;
    opacity: 0;
    margin-left: -2.65rem;
}

.padding{
  padding: 20px;
}

.md-check input:checked + i:before {
    border-width: 0;
    background-color: inherit;
    border: 1px solid #C5C5C5;
}

.md-check input:checked + span .active {
    display: inherit;
}

.md-check input[type="radio"] + i,
.md-check input[type="radio"] + i:before {
    border-radius: 50%;
}
.left{
  text-align: left;
}
.right{
  text-align: right;
}
.md-check input[type="checkbox"]:checked + i:after {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
    left: 5px;
    top: 2px;
    display: table;
    width: 6px;
    height: 10px;
    border: 2px solid #06ABF5;
    border-top: 0;
    border-left: 0;
    content: ' ';
}

.md-check input[type="radio"]:checked + i:after {
    position: absolute;
    left: 6px;
    top: 6px;
    display: table;
    width: 6px;
    height: 6px;
    background: #fff;
    border-radius: 50%;
    content: ' ';
}

.md-check input[disabled] + i:before,
fieldset[disabled] .md-check input + i:before {
    opacity: 0.5;
}

.md-check input[disabled]:checked + i:before {
    opacity: 0.5;
}

.md-check > i {
    width: 0;
    height: 16px;
    line-height: 1;
    margin-left: 10px;
    margin-top: 1px;
    float: left;
    display: inline-block;
    vertical-align: middle;
    margin-right: 28px;
    position: relative;
}

.md-check > i:before {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    border: 1px solid #C5C5C5;
    border-radius: 2px;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
}


/*.md-check > i.no-icon:after {
  display: none !important;
}*/

.divider {
    margin: 3px 0 9px;
}

.options {
    font-weight: normal;
}

.status-options {
    font-weight: normal;
    margin-left: 5px;
}

.status-circle {
    margin-right: 10px;
    font-size: 6px;
    vertical-align: middle;
    &.NST {
        color: #A5D756;
        /* green */
    }
    &.STR {
        color: #2BB8F9;
        /* blue */
    }
    &.WCL {
        color: #EA5090;
        /* pink */
    }
    &.OHD {
        color: #FFCE33;
        /* yellow */
    }
    &.CNC {
        color: #5A5A5A;
        /* gray */
    }
    &.CMP {
        color: #9215FF;
        /* purple */
    }
    &.PHD {
        color: #EF5757;
        /* red */
    }
}

.dropdown-menu {
    min-width: 226px;
}

.md-form-group {
    padding: 18px 0 24px 0;
    position: relative;
}

.md-input {
    background: transparent;
    position: relative;
    z-index: 5;
    border: 0;
    box-shadow: none;
    border-radius: 0;
    border-bottom: 1px solid rgba(160, 160, 160, 0.2);
    width: 100%;
    height: 34px;
    padding: 2px;
    color: inherit;
}

.md-input:focus,
.md-input.focus {
    border-color: #2E8AF5;
    border-bottom-width: 2px;
    padding-bottom: 1px;
}

.md-input:focus ~ label,
.md-input.focus ~ label {
    color: #2E8AF5;
    opacity: 1;
    top: 0 !important;
    font-size: 0.85em !important;
}

.float-label .md-input ~ label {
    top: 20px;
    font-size: 1em;
}

.float-label .md-input.ng-dirty ~ label,
.float-label .md-input.has-value ~ label {
    top: 0;
    font-size: 0.85em;
}

.md-input ~ label {
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
    font-size: 0.85em;
    position: absolute;
    z-index: 0;
    opacity: 0.5;
    display: inline-block;
    top: 0px;
    left: 0;
}

.md-input.disabled,
.md-input[disabled] {
    opacity: 0.5;
}

.btn-filter {
    color: #1F2D4A;
    background-color: #fff;
    font-family: Roboto;
    font-size: 16px;
    line-height: 21px;
}

.btn-filter:focus,
.btn-filter.focus {
    color: #1F2D4A;
    background-color: #fff;
}

.btn-filter:hover {
    color: #1F2D4A;
    background-color: #fff;
}

.btn-filter:active,
.btn-filter.active,
.open > .dropdown-toggle.btn-filter {
    color: #1F2D4A;
    background-color: #fff;
    box-shadow: none;
}

.btn-filter:active:hover,
.btn-filter.active:hover,
.open > .dropdown-toggle.btn-filter:hover,
.btn-filter:active:focus,
.btn-filter.active:focus,
.open > .dropdown-toggle.btn-filter:focus,
.btn-filter:active.focus,
.btn-filter.active.focus,
.open > .dropdown-toggle.btn-filter.focus {
    color: #1F2D4A;
    background-color: #fff;
}

.btn-filter:active,
.btn-filter.active,
.open > .dropdown-toggle.btn-filter {
    background-image: none;
    background-color: #fff;
}

.btn-filter.disabled:hover,
.btn-filter[disabled]:hover,
fieldset[disabled] .btn-filter:hover,
.btn-filter.disabled:focus,
.btn-filter[disabled]:focus,
fieldset[disabled] .btn-filter:focus,
.btn-filter.disabled.focus,
.btn-filter[disabled].focus,
fieldset[disabled] .btn-filter.focus {
    background-color: #fff;
}
