<h2>Filter Demo</h2>
<hr>

<div style="margin-top: 36px;"></div>

<div style="padding:5px">
  <div class="col-md-12 padding order-card">
    <div class="col-md-8 col-sm-8 col-lg-8 font-order left order-font-count"> Orders ({{orderLenght}} open — {{canceled}} canceled orders)</div>
    <!-- note: filter component has a class =  col-md-4 / col-lg-4 -->
    <filter></filter>
  </div>
</div>