 <div class="col-md-4 col-sm-4 col-lg-4">
        <div class="row">
            <!-- status dropdown BEG -->
            <div class="col-md-3 col-md-offset-2 dropdown do">
                <button class="btn btn-default dropdown-toggle button-drp" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    {{statusText}}
                    <span class="arrow-menu"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                    <li>
                        <label class="md-check">
                            <input type="checkbox" (click)="selectAll('status')"  [checked]="allStatus">
                            <i></i>
                            <span class="options"><i class="fa fa-circle left status mini all" aria-hidden="true"></i> {{ t.pt('views.order_ticket_header.allStatus') }}</span>
                        </label>
                    </li>
                    <li role="separator" class="divider"></li>
                    <li *ngFor="let item of status">
                        <label class="md-check">
                            <input type="checkbox" (click)="selectItem('status', item)" [checked]="item.selected">
                            <i></i>
                            <span class="status-options">
                                <i [ngClass]="item.value" class="fa fa-circle left status mini " aria-hidden="true"></i>
                                {{item.text}}
                            </span>
                        </label>
                    </li>
                </ul>
            </div>
            <!-- status dropdown End -->

             <!-- type dropdown BEG -->
            <div class="col-md-3 dropdown dd text-right">
                <button class="btn btn-default dropdown-toggle button-drp" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    {{typeText}}
                   <span class="arrow-menu"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                    <li style="margin-top: 5px;">
                        <label class="md-check">
                            <input type="checkbox" (click)="selectAll('type')" [checked]="allTypes">
                            <i></i>
                            <span class="options">
                                 <i class="fa fa-circle left status mini all" aria-hidden="true"></i>
                                 {{ t.pt('views.ordercard.allTypes') }}
                            </span>
                        </label>
                    </li>
                    <li role="separator" class="divider"></li>
                   <li *ngFor="let item of types">
                        <label class="md-check">
                            <input type="checkbox" (click)="selectItem('type', item)" [checked]="item.selected">
                            <i></i>
                            <span class="status-options">
                                <i [ngClass]="item.value" class="fa fa-circle left status mini " aria-hidden="true"></i>
                                {{item.text}}
                            </span>
                        </label>
                    </li>
                </ul>
            </div>
            <!-- type dropdown End -->

            <div class="col-md-4 text-left fath">
                <span [ngClass]="{'active': viewActive == 'cards'}" (click)="changeTo('cards')"><i class="fa fa-th"></i></span>
                <span [ngClass]="{'active': viewActive == 'list'}" (click)="changeTo('list')"><i class="fa fa-list-ul"></i></span>
            </div>
        </div>
    </div>