$icons-path: '/vendor/images/';

.md-icon{
    display: inline-block;
    background-size: cover;
    background-position: center center;
    opacity: 1;
    &.confirmation{
        background-image: url( $icons-path + 'cmx-i-confirmation.svg' );
    }
    &.next{
        background-image: url( $icons-path + 'cmx-i-next.svg' );
        &.md-icon-extra-small{
            width: 12px;
            height: 16px;
        }
    }
    &.select{
        background-image: url( $icons-path + 'cmx-i-dropdown.svg' );
    }
    &.success{
        background-image: url( $icons-path + 'cmx-i-success-icon.svg' );
    }
    &.close{
        background-image: url( $icons-path + 'cmx-i-close.svg' );
    }
    &.triangle{
        background-image: url( $icons-path + 'cmx-i-triangle.svg' );
    }
}


.md-icon:hover{
    opacity: 1;
}

.md-icon-extra-large{
    width: 128px;
    height: 128px;
}

.md-icon-large{
    width: 48px;
    height: 48px;
}

.md-icon-medium{
    width: 36px;
    height: 36px;
}

.md-icon-small{
    width: 24px;
    height: 24px;
}

.md-icon-extra-small{
    width: 12px;
    height: 12px;
}