.historical-filter{
    font-family: 'Roboto', sans-serif;
    .title{
        display:inline;
        font-size: 18px;
    }
    .months{
        display: inline;
        li.month{
            font-size: 15px;
            display: inline;
            color: #318CF6;
            margin-right: 15px;
            border-bottom: 4px solid transparent;
            padding-bottom: 10px;
            text-transform: capitalize;
            font-weight: bold;
            padding: 0 14px;
            padding-bottom: 24px;

            &.active{
                 border-bottom-color: #318CF6;
            }
            &:hover{
                cursor: pointer;
                border-bottom-color: #318CF6;
            }
        }
    }
}