<div class="col-md-8 col-lg-8 col-sm-8 historical-filter">
    <h3 class="title">{{title}}</h3>
    <ul class="months">
        <li *ngFor="let date of dates"  (click)="selectMonth(date)" class="month" [ngClass]="{'active': date.monthNumber == currentMonth}" >{{date.month}} {{date.year}}</li>
    </ul>
</div>