<!-- Uncomment this to use the normal sidebar -->
<!--<div class='container-fluid'>
    <div class='row'>
        <div class='col-sm-3'>
            <nav-menu></nav-menu>
        </div>
        <div class='col-sm-9 body-content'>
            <router-outlet></router-outlet>
        </div>
    </div>
</div>-->
<!-- If above is uncommented, you should comment this block -->
<div id="navbar-wrapper">
    <cemex-header *ngIf="useLayout"></cemex-header>
</div>
<div [ngClass]="{'nopad': !useLayout }" id="wrapper">
    <div id="sidebar-wrapper">
        <sidebar *ngIf="useLayout"></sidebar>
    </div>
    <main id="page-content-wrapper " role="main ">
        <router-outlet></router-outlet>
    </main>
</div>