@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css');
@import './../../assets/sass/variables';
@import './../../assets/sass/layout';
#wrapper {
    padding-top: $header-height;
    padding-left: 0;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}

.nopad {
    padding: 0px !important;
}

@media (max-width: 767px) {
    #wrapper {
        padding-left: $content-separation / 1.5;
        padding-right: $content-separation / 1.5;
    }
    #sidebar-wrapper {
        display: none;
        visibility: hidden;
    }
}

@media (min-width: 768px) {
    #sidebar-wrapper {
        z-index: 1000;
        position: fixed;
        left: $sidebar-width;
        height: 100%;
        margin-left: -$sidebar-width;
        overflow-y: auto;
    }
    #sidebar-wrapper .sidebar-nav {
        position: absolute;
        top: 0;
        width: $sidebar-width;
        margin: 0;
        padding: 0;
        list-style: none;
    }
    #wrapper {
        padding-left: $sidebar-collapsed-width + $content-separation;
        padding-right: $content-separation;
    }
    #wrapper #sidebar-wrapper {
        width: $sidebar-collapsed-width;
    }
    #wrapper #sidebar-wrapper:hover {
        width: $sidebar-width;
    }
}

@media (min-width: 1330px) {
    #wrapper {
        padding-left: $sidebar-width + $content-separation;
        padding-right: $content-separation;
    }
    #wrapper #sidebar-wrapper {
        width: $sidebar-width;
    }
}