<div class="container-fluid">
    <div class="row fancy-bottom">
        <div class="col-md-6 section first">
            <div class="content">
                <div class="info-row">
                    <span class="description autow back" (click)="gotoClient()">
                        {{ customer?.customerName }}
                    </span>
                    <span class="arrow-menu"></span>

                    <span class="description autow {{back}}" (click)="gotoJobsite()">
                        {{ jobsite?.jobsiteDesc }}
                    </span>
                    <span class="arrow-menu" *ngIf="shouldShowOrder()"></span>

                    <span class="description autow" *ngIf="shouldShowOrder()">
                        {{currentOrder?.orderCode}}
                    </span>
                </div>
                <span class="jobsite-title" *ngIf="!shouldShowOrder()">{{ jobsite?.jobsiteDesc }}</span>
                <span class="jobsite-title" *ngIf="shouldShowOrder()">{{currentOrder?.orderCode}} <span class="subtitled-order first">{{currentOrder?.shipping}} </span> <i class="fa fa-circle left status-circle mini" [ngClass]="currentOrder?.orderStatusGroupCode"
                    aria-hidden="true"></i> <span class="subtitled-order last">{{currentOrder?.orderStatusDesc}}</span> </span>
                <span class="jobsite-orders" *ngIf="!shouldShowOrder()">({{ jobsite?.orders.length }} {{ t.pt("views.jobsite_header.orders") }})</span>
                <span (click)="addFavorite(jobsite)" *ngIf="!shouldShowOrder()"><i class="fa fa-heart fave {{fave}}" aria-hidden="true"></i></span>

            </div>
        </div>
        <div class="col-md-3 section">
            <div class="content calendar" *ngIf="!shouldShowOrder()">
                <img src="/vendor/images/calendar.png" />
                <span class="calendar-text"></span>
                <!--<input daterangepicker [options]="pickerOptions" class="calendar-text" value="{{defaultDate}}" />-->
                <!--<input daterangepicker (selected)="dateSelected($event)" [options]="pickerOptions" class="calendar-text" value="{{defaultDate}}" />-->
                <calendar></calendar><span class="arrow-menu-down"></span>
            </div>
        </div>
        <div class="col-md-3">
            <div class="search-content">
                <form class="navbar-form navbar-left" role="search">
                    <div [ngClass]="{'search-mode': searchMode }" class="input-group search-bar">
                        <span class="input-group-addon search-glass">
                          <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                        </span>
                        <input readonly (focus)="searchFocused()" type="search" class="form-control search-text" placeholder='{{ t.pt("views.jobsite_header.search") }}'>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>