@import './../../assets/sass/delivery';
@import './../../assets/sass/variables';
@import './../../assets/sass/tricks';
.navbar-form {
    width: 100%;
}

.section {
    min-height: $delivery-info-height - ($delivery-info-spacing * 2);
    padding: 21px 0px;
    height: $delivery-info-height;
    height: auto;
    &.first {
        padding-bottom: 10px;
    }
}

.search-content {
    padding-top: 16px;
}

.search-section {
    padding: -1px 24px;
}

.search-bar {
    width: 100%;
    background-color: #FFFFFF;
    border: 1px solid #E1E1E1;
    border-radius: 4px;
    font-family: Roboto;
    font-size: 12px;
    font-weight: normal;
    line-height: 14px;
    color: #9B9B9B;
    // position: absolute;
    // top: 0;
    // right: 0;
}

.search-bar {
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    transition: all .2s;
}

.search-glass {
    padding: 4.2px !important;
    width: 30px !important;
    margin-left: 30px;
    background-color: #fff;
    color: #2C5399;
    border: none;
}

.search-text {
    border-left: none;
    z-index: 0;
    border: none;
    box-shadow: none;
}

.search-text[readonly] {
    background-color: inherit;
}

.section .content {
    min-height: $delivery-info-height - ($delivery-info-spacing * 2);
    padding: 0px 14px;
    height: auto;
}

.section:last-child .content {
    border-right: none;
}

.info {
    font-family: Roboto;
    font-size: 13px;
    font-weight: bold;
    color: #2D2D2D;
    display: inline-block;
    width: 135px;
    vertical-align: top;
}

.info.autow {
    width: auto;
}

.description {
    display: inline-block;
    width: 468px;
    font-family: Roboto;
    font-size: 13px;
    color: #2D2D2D;
}

.description.autow {
    width: auto;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: Roboto;
    font-size: 12px;
    line-height: 14px;
    cursor: pointer;
    &.back {
        color: #318CF6;
    }
}

.pl10 {
    padding-left: 10px;
}

.info-row:not(:last-child) {
    padding-bottom: 12px;
}

.info.comments {
    padding-bottom: 12px;
}

.comments-desc {
    font-family: Roboto;
    font-size: 13px;
    line-height: 14px;
    color: #2D2D2D;
    padding-bottom: 12px;
}

.product-detail-desc {
    font-family: Roboto;
    font-size: 13px;
    line-height: 14px;
    color: #2E8AF5;
}

.jobsite-title {
    font-family: Roboto;
    font-size: 20px;
    font-weight: bold;
    line-height: 24px;
    color: #19233A;
}

.jobsite-orders {
    font-family: Roboto;
    font-size: 16px;
    line-height: 24px;
    color: #9B9B9B;
}

@media (min-width: 990px) {
    .search-section {
        padding-top: 24px;
    }
    .search-bar {
        width: 100%;
    }
}

@media (max-width: 680px) {
    .description {
        width: 400px;
    }
}

@media (max-width: 440px) {
    .description {
        width: 230px;
    }
}

.arrow-menu {
    width: 6px;
    margin-bottom: 2px;
    margin-left: 10px;
    margin-right: 20px;
    content: url("/vendor/images/arrow-right.svg");
}

// Calendar
.calendar-text {
    font-family: Roboto;
    font-size: 16px;
    font-weight: bold;
    line-height: 21px;
    color: #1F2D4A;
    border: 0px;
}

.calendar-icon {
    background: url("/vendor/images/calendar.png")
}

.content.calendar {
    padding-top: 12px !important;
}

@media (min-width: 1200px) {
    .pull-right-lg {
        float: right;
    }
}

.calendar>img {
    margin-top: -4px;
}

.calendar-icon {
    background: url("/vendor/images/calendar.png")
}

@media (min-width: 1200px) {
    .pull-right-lg {
        float: right;
    }
}

.calendar>img {
    margin-top: -4px;
}

.fancy-bottom {
    border-bottom: 1px solid #EEEEEE;
}

.fave {
    cursor: pointer;
    font-size: 18px;
    padding-left: 12px;
    &.off {
        color: #9B9B9B;
    }
    &.on {
        color: #EE5156;
    }
}

.arrow-menu-down {
    width: 10px;
    content: url("/vendor/images/arrow-down-blue.svg");
    position: absolute;
    bottom: 60px;
}

.subtitled-order {
    width: auto;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: Roboto;
    font-size: 12px;
    line-height: 12px;
    font-weight: normal;
    &.first {
        margin-right: 15px;
        margin-left: 15px;
    }
    &.last {
        margin-left: 3px;
    }
}

.status-circle {
    font-size: 6px;
    vertical-align: middle;
    &.NST {
        color: #A5D756;
        /* green */
    }
    &.STR {
        color: #2BB8F9;
        /* blue */
    }
    &.WCL {
        color: #EA5090;
        /* pink */
    }
    &.OHD {
        color: #FFCE33;
        /* yellow */
    }
    &.CNC {
        color: #5A5A5A;
        /* gray */
    }
    &.CMP {
        color: #9215FF;
        /* purple */
    }
    &.PHD {
        color: #EF5757;
        /* red */
    }
}