<div class='main-nav'>
    <div class='navbar navbar-inverse'>
        <div class='navbar-header'>
            <button type='button' class='navbar-toggle' data-toggle='collapse' data-target='.navbar-collapse'>
                <span class='sr-only'>Toggle navigation</span>
                <span class='icon-bar'></span>
                <span class='icon-bar'></span>
                <span class='icon-bar'></span>
            </button>
            <a class='navbar-brand' [routerLink]="['/home']">CemexUIComponents</a>
        </div>
        <div class='clearfix'></div>
        <div class='navbar-collapse collapse'>
            <ul class='nav navbar-nav'>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/home']">
                        <span class='glyphicon glyphicon-home'></span> Home
                    </a>
                </li>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/counter']">
                        <span class='glyphicon glyphicon-education'></span> Counter
                    </a>
                </li>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/fetch-data']">
                        <span class='glyphicon glyphicon-th-list'></span> Fetch data
                    </a>
                </li>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/login']">
                        <span class='glyphicon glyphicon-education'></span> Login
                    </a>
                </li>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/translate']">
                        <span class='glyphicon glyphicon-education'></span> Translate
                    </a>
                </li>
                 <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/donut-chart']">
                        <span class='glyphicon glyphicon-education'></span> Donut chart
                    </a>
                </li>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/simple-card']">
                        <span class='glyphicon glyphicon-education'></span> simple card
                    </a>
                </li>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/playground']">
                        <span class='glyphicon glyphicon-education'></span> Playground
                    </a>
                </li>

                 <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/nv3']">
                        <span class='glyphicon glyphicon-education'></span> Nv3
                    </a>
                </li>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/demo-modal']">
                        <span class='glyphicon glyphicon-modal-window'></span> Modal
                    </a>
                </li>
                 <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/ordercard']">
                        <span class='glyphicon glyphicon-education'></span> Order Card
                        </a>
                </li>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/delivery']">
                        <span class='glyphicon glyphicon-modal-window'></span> Delivery
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>