<h1> Md-button Demo: </h1>
<hr>
<button md-button color="primary" type="submit" [disabled]="true">
    <span>Ok</span>
    <span md-icon md-set="next" extra-small-size></span>
</button>
<br>
<button md-button color="accent" type="submit">
    <span>Ok</span>
</button>
<br>
<button md-button color="primary" type="submit" [disabled]="false">
    <span>Ok</span>
    <span md-icon md-set="next" extra-small-size></span>
</button>