@import './../dcm-cemex/dcm-cemex-theme';

$md-button-height: 48px;

.md-button{
    display: inline-block;
    width: 100%;
    height: $md-button-height;
    padding: 0 20px;
    border: none;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 600;
    text-align: right;
    color: $white;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    .md-icon{
        margin-left: 20px;
    }
    span{
        line-height: $md-button-height;
        display: inline-block;
        vertical-align: middle;
    }
}

.md-button:focus{
    outline: none;
}

.md-button:disabled{
    background-color: $disabled-color;
    cursor: not-allowed;
}

.md-primary{
    background-color: $primary-color;
}

.md-accent{
    background-color: $accent-color;
}