<div style="display: block" class="move-left">
    <div class="row">
        <div class="col-md-8 general-margin" >
            <canvas baseChart  style="height:110px" [legend]="false" [data]="doughnutChartData" [labels]="doughnutChartLabels" [colors]="doughnutChartColors" [chartType]="doughnutChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
        </div>
        <div class="col-md-4">
            <div class="cemex-chart-donut-legend-margin">
                <div *ngFor="let singleLabel of doughnutChartLabels;let indi=index">
                    <div class="row">
                        <div class="col-md-1">
                            <div class="cemex-chart-donut-legends" [style.background]="getLabelColor(indi)"></div>
                        </div>
                        <div class="col-md-10">
                            {{singleLabel}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>