.cemex-chart-donut-legends{
    width: 12px;
    height: 12px;
    border-radius: 3px;
}
.cemex-chart-donut-legend-margin{
    margin-left: -80px;
    margin-top: 40px;
}
.move-left{
    margin-left: -30px;
}
.general-margin{
    margin-top: 20px;
}