


/* Panel types */

.primary {
    background-color: #d9534f ;
    color: #ffffff ;
}

.secondary {
  
    

    background-color: black ;
    color: #ffffff;
    border-color: #d9534f;
    border-style: solid;
    border-width: 2px;
}

.tirth {
 background-color: black ;
    color: #ffffff;
    border-color: darkkhaki;
     border-style: solid;
     border-width: 2px;
    
}

.disabled {
    cursor: not-allowed;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    box-shadow: none;
    opacity: .65;
}



/*size*/

.fontnormal {
    font-size:  150%;
    
}

.fontmedium {


font-size: 100%;
/*text-align:center;*/

}

.fontsmall {
    height: 33px;
    padding: 0.6rem 5rem;
}