<!--<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">-->
<div class="col-lg-3 col-md-3 col-sm-4 col-xs-10">
    <div [class]="getStyle()" class="panel panel-default  panel-danger">
        <div class="panel-body" class="text-center">
            <span class="" [class]="getSizeFontHeadClass()"> 

  
             {{titlehead}}

</span>
            <br/>



            <span [class]="getSizeFontDescriptionClass()"> 

   
            {{titledescription}}
</span>

        </div>
    </div>
</div>