<cemex-panel titlehead={{headvar1}} titledescription="{{descriptionvar1}}" [type]="panelPrimary" [fontsizehead]="fontSizeNormal"
    [fontsizedescription]="fontSizeMedium"> </cemex-panel>


<cemex-panel titlehead={{headvar2}} titledescription="{{descriptionvar2}}" [type]="panelSecondary" [fontsizehead]="fontSizeNormal"
    [fontsizedescription]="fontSizeMedium"> </cemex-panel>


<cemex-panel titlehead={{headvar3}} titledescription="{{descriptionvar3}}" [type]="panelSecondary" [fontsizehead]="fontSizeNormal"
    [fontsizedescription]="fontSizeMedium"> </cemex-panel>


<cemex-panel titlehead={{headvar4}} titledescription="{{descriptionvar4}}" [type]="paneltirth" [fontsizehead]="fontSizeNormal"
    [fontsizedescription]="fontSizeMedium"> </cemex-panel>

<cemex-panel titlehead={{headvar5}} titledescription="{{descriptionvar5}}" [type]="paneltirth" [fontsizehead]="fontSizeNormal"
    [fontsizedescription]="fontSizeMedium"> </cemex-panel>

<cemex-panel titlehead={{headvar6}} titledescription="{{descriptionvar6}}" [type]="paneltirth" [fontsizehead]="fontSizeNormal"
    [fontsizedescription]="fontSizeMedium"> </cemex-panel>