<div style="display: block" class="cemex-progress-chart-pull-right">
    <div class="row" style="margin-bottom:10px">
        <div class="col-md-4 ">
            
        </div>
        <div class="col-md-4">
            <span class="title-headings">{{ first_headline }}</span>
        </div>

        <div class="col-md-4">
            <span class="title-headings">{{ second_headline }}</span>
        </div>
    </div>
     <div class="row" style="margin-bottom:10px" *ngFor="let item of chartData">
        <div class="col-md-4 ">
            {{ item.title }}
        </div>
        <div class="col-md-4">
            <span class="big-numbers">{{ item.progress_one }}</span> {{item.extraInfo_one}}
        </div>

        <div class="col-md-4">
            <span class="big-numbers">{{ item.progress_two }}</span> {{item.extraInfo_two}}
        </div>
    </div>
</div>