<div class="delivery-container container-fluid">
    <div class="row">
        <div class="col-md-7 section">
            <div class="content">
                <div class="row info-row">
                    <div class="col-md-5">
                        <span class="info">{{ t.pt("views.delivery_info.purchase_order") }}:</span>
                        <span class="description autow uppercase">{{order?.purchaseOrder}}</span>
                    </div>
                    <div class="col-md-7">
                        <span class="info autow info-align">Order on:</span>
                        <span class="description autow pl10">{{order?.createdOrderDateTime | date: 'MM/dd/yyyy'}}</span>
                    </div>
                    <!--<span class="info autow">{{ t.pt("views.delivery_info.end_date") }}:</span>
                    <span class="description autow pl6">
                        12/24/2016
                    </span>-->
                </div>
                <div class="info-row">
                    <span class="info">{{ t.pt("views.delivery_info.address") }}:</span>
                    <span class="description">
                        {{order?.jobsiteItem?.jobsiteCode}} - {{order?.jobsiteItem?.jobsiteDesc}} / {{order?.jobsiteItem?.addressItem.domicileNum}} 
                        {{order?.jobsiteItem?.addressItem.streetName}} / {{order?.jobsiteItem?.addressItem?.postalCode}} {{order?.jobsiteItem?.addressItem.cityDesc}}
                    </span>
                </div>
                <div class="info-row">
                    <span class="info">{{ t.pt("views.delivery_info.pod") }}:</span>
                    <span class="description">
                        {{order?.pointofDelivery.pointOfDeliveryCode}} - {{order?.pointofDelivery.pointOfDeliveryDesc}} / {{order?.pointofDelivery.addressItem.domicileNum}} 
                        {{order?.pointofDelivery.addressItem.streetName}} / {{order?.pointofDelivery.addressItem.postalCode}} {{order?.pointofDelivery.addressItem.cityDesc}}
                    </span>
                </div>
            </div>
        </div>
        <div class="col-md-5 section">
            <div class="content">
                <div class="info-row">
                    <span class="info comments">{{ t.pt("views.delivery_info.comments") }}</span>
                    <div class="comments-desc">{{ order?.instructionsDesc }}</div>
                </div>
                <div class="info-row">
                    <span class="info">{{ t.pt("views.delivery_info.product_detail") }}</span>
                </div>
                <div class="info-row">
                    <div class="col-md-6">
                    <span class="product-detail-desc">{{ orderProductsPlan.lenght }} {{ t.pt("views.delivery_info.products") }}</span>
                    </div>
                    <div class="col-md-3 col-md-offset-3">
                    <cemex-modal *ngIf="isReadyMix()" buttontag="{{ t.pt('views.delivery_info.view_more') }}" title="Products" top="150px" left="400px">
                        <table class="table delivery-table">
                            <thead>
                                <tr>
                                    <th>{{ t.pt("views.delivery_info.product") }}</th>
                                    <th>{{ t.pt("views.delivery_info.quantity") }}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of orderProductsPlan ">
                                    <td>{{item.desc}} {{item.quantity}} {{item.unit}} <p> <strong>{{ t.pt("views.delivery_info.spacing") }}</strong> 10 min</p> </td>
                                    <td>{{item.loads}} {{ t.pt("views.delivery_info.loads") }} <p><strong>{{ t.pt("views.delivery_info.element_to_pour") }}</strong> {{ item.element }}</p></td>
                                </tr>
                            </tbody>
                        </table>
                    </cemex-modal>
                    <cemex-modal *ngIf="isCement()" buttontag="{{ t.pt('views.delivery_info.view_more') }}" title="Products" top="150px" left="400px">
                        <table class="table delivery-table">
                            <thead>
                                <tr>
                                    <th>{{ t.pt("views.delivery_info.product") }}</th>
                                    <th>{{ t.pt("views.delivery_info.quantity") }}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of orderProductsPlan ">
                                    <td>{{item.desc}} {{item.quantity}} {{item.unit}}</td>
                                    <td>{{item.loads}} {{ t.pt("views.delivery_info.loads") }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </cemex-modal>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>