

input[type=checkbox]
{
box-sizing: border-box;
width: 10px;
height: 9.99px;
border: 1px solid #4D4D4D;
// padding-top: 16px;
// padding-left: 29px;

}






table {
// width: 89.84%;
// height: 55.79%;
width: 920px;
// height: 400px;
background-color: rgba(235,239,242,0.9);

border: 0px;
 
}


// head 

objecttd-8.th{ 
width: 100px;
text-align: center !important;
}

.objecthd-0{
 
// width: 56px;f
width: 100px;
// height: 14px;
font-family: Roboto;
font-size: 12px;
font-weight: bold;
line-height: 16px;
color: #333333;
// padding-left:20px;

}


.objecthd-1{
width: 10px;
// height: 14px;
font-family: Roboto;
font-size: 12px;
font-weight: bold;
line-height: 16px;
color: #333333;
// padding-left: 50px;

}

.objecthd-2{

width: 10px;
// height: 11px;
font-family: Roboto;
font-size: 10px;
font-weight: bold;
line-height: 13px;
color: #333333;
//   // padding-bottom: 52.16%;
// //  padding-left: 30.86%;
  // padding-left: 80px;
// padding-right:53.81%;

}

.objecthd-3{
width: 10px;
// height: 11px;
font-family: Roboto;
font-size: 10px;
font-weight: bold;
line-height: 13px;
color: #333333;
//  padding-left: 20px;
}

.objecthd-4{
width: 10px;
// height: 14px;
font-family: Roboto;
font-size: 12px;
font-weight: bold;
text-align: center;
line-height: 16px;
color: #333333;
//  padding-left: 20px;
  // padding-bottom: 52.02%;
//  padding-left: 49.12%;
//  padding-left: 20px;
// padding-right:20px;
}

.objecthd-5{
width: 10px;
// height: 14px;
font-family: Roboto;
font-size: 12px;
font-weight: bold;
text-align: right;
line-height: 16px;
color: #333333;
//   padding-bottom: 52.02%;
//  padding-left: 56.25%;
// padding-right:29.39%;
// padding-left:20px;

}

.objecthd-6{
width:  10px;
// height: 16px;
font-family: Roboto;
font-size: 12px;
font-weight: bold;
text-align: right;
line-height: 16px;
color: #333333;
//  padding-top: 1.81%;
//   padding-bottom: 51.74%;
//  padding-left: 20px;
// padding-right:20px;

}


.objecthd-7{
width: 10px;
// height: 14px;
font-family: Roboto;
font-size: 12px;
font-weight: bold;
text-align: right;
line-height: 16px;
color: #333333;
//  padding-top: 1.81%;
//   padding-bottom: 51.74%;
//  padding-left: 72.95%;
// padding-left:20px;

}


.objecthd-8{
width: 150px;
// height: 16px;
font-family: Roboto;
font-size: 12px;
font-weight: bold;
text-align: right;
line-height: 16px;
color: #333333;
//   padding-top: 1.81%;
//   padding-bottom: 51.74%;
//  padding-left: 70.08%;
// padding-right:15px;

}


.colorStatusPanelth{
  padding: 0px !important;
   width: 8px !important;

   
  //  height :71px !important;

}

// .colorStatusPanelth1{
//   //  width: 35px !important;
//   //  text-align: center;

// }












// thead{
//    font-weight: bold;
//   color:#333333;
//   font-size: 10px;
//   // style:normal;

// }



// tr,th ,td { 
//   // width: 10%;
//    width: 20%;
//    font-size: 12px;
//   text-align: center;
//   background-color: #F8F8F8;
//   padding-top: 16px !important;
//   padding-bottom: 11px !important;
// }



.panel {
  border: 0;
  box-shadow: none !important;
//  width: 920px;
// height: auto;
background-color:white;
}
