<br/>

<p *ngIf="!tblDet"><em>Loading...</em></p>
<div class="table-responsive">
    <div class="panel">
        <table class="table">
            <!--<thead>-->
            <tr>

                <th class="colorStatusPanelth" *ngIf="thstatuscolor === true"></th>
                <th  *ngIf="thcontrolhtml === 'inputcheckbox'" class="colorStatusPanelth1"><input type="checkbox" value="" /> </th>
                <th class="" *ngIf="thcontrolhtml === 'inputtext'"><input type="text" value="" /> </th>
              
                <th *ngFor='let hd of tblhead;let index=index;'  class="{{ 'objecttd-' + index }}" nowrap>
                    <span class="{{ 'objecthd-' + index }}">{{hd}}</span>
                </th>
            </tr>
            <!--</thead>-->
        </table>
        <table class="">
 

            <tbody>
                <md-table-item [tblItems]="tblDet">
                </md-table-item>
            </tbody>

        </table>
    </div>
</div>

