typeahead{
    position: relative;
}

ul {
    list-style: none;
    padding: 10px 5px 10px 5px;
    background-color: white;
    position: absolute;
    width: 100%;
    li {
        background-color: white;
        padding: 0 5px 10px 5px;
    }
}
