<input type="text" placeholder="{{placeholder}}"
    [(ngModel)]="searchInput"  (ngModelChange)="search($event)" 
    (keydown)="navigateItems($event)" class="form-control typeahead">
<ul *ngIf="foundItems.length">
    <li  *ngFor="let item of foundItems">{{item.name}}</li>
</ul>
