// Tabs
// ===================================
$cyan: #fff;
$yellow: #2E8AF5;
$grey: #9e9e9e;
$num-of-tabs: 2;
$slider-size: 4px;
@mixin filters {
    @for $i from 1 through $num-of-tabs {
        &:nth-of-type(#{$i}) {
            &:checked {
                ~.slide {
                    left: calc((100% / #{$num-of-tabs}) * #{$i - 1});
                }
            }
        }
    }
}

.tab-wrap {
    position: relative;
    display: flex;
    width: 30%;
}

input[type="radio"][name="filters"] {
    position: absolute;
    z-index: -1;
    &:checked {
        +.tab-label-content {
            label {
                font-weight: bold;
                color: #2E8AF5;
            }
            .tab-content {
                display: block;
            }
        }
    }
    @include filters;
    &:first-of-type {
        &:checked {
            ~.slide {
                left: 0;
            }
        }
    }
}

label {
    cursor: pointer;
    color: #1F2D4A;
    background-color: $cyan;
    box-sizing: border-box;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 48px;
    transition: color 0.2s ease;
    width: 100%;
    font-size: 14px;
    font-weight: normal;
    line-height: 16px;
}

.slide {
    background: $yellow;
    width: calc(100% / #{$num-of-tabs});
    height: $slider-size;
    position: absolute;
    left: 0;
    top: calc(100% - 4px);
    transition: left 0.3s ease-out;
}

.tab-label-content {
    width: 100%;
    background-color: white;
    .tab-content {
        position: absolute;
        top: 100px;
        left: 16px;
        line-height: 130%;
        display: none;
    }
}

@media screen and (max-width: 800px) {
    h1 {
        padding: 40px 0 90px 10%;
    }
    .tab-wrap {
        left: 0px;
        width: 100%;
    }
}