<div class="tab-wrap" [style.width]="tabWidth">
    <input style="display: none;" type="radio" name="filters" id="filter1" (click)="toggleFilter(filter1)" checked>
    <div class="tab-label-content" id="{{filter2}}">
        <label [innerHtml]="firstTab" for="filter1"></label>
    </div>
    <input style="display: none;" type="radio" name="filters" id="filter2" (click)="toggleFilter2(filter2)">
    <div class="tab-label-content" id="{{filter2}}">
        <label [innerHtml]="secondTab" for="filter2"></label>
    </div>
    <div class="slide"></div>
    
</div>