button {
    height: 45px;
    font-weight: 400;
    border-radius: 4px;
    border: solid 1px #355FA1;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    background-color: #355FA1;
    color: #ffffff;
}


/* Button types */

.primary {
    background-color: #355FA1 !important;
    color: #ffffff !important;
}

.secondary {
    background-color: #ffffff !important;
    color: #355FA1 !important;
}

.disabled {
    cursor: not-allowed;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    box-shadow: none;
    opacity: .65;
}


/* Button sizes */

.normal {
    padding: 0.6rem 10rem;
}

.medium {
    padding: 0.6rem 3rem;
}

.small {
    height: 33px;
    padding: 0.6rem 5rem;
}