ng2-map {
    display: block;
    height: 600px;
}

.custom-icon{
    background: url('/images/pines_/pin_azul/Group@1x.png');
    color:white;
    width: 34px;
    height: 45px;
    margin-top:20px;
    font-size: 20px;
    text-align: center;
}

.custom-icon.A{
    background: url('/images/pines_/pin_morado_/Oval_1.png') !important;
    color:white;
    width: 34px;
    height: 45px;
    margin-top:20px;
    font-size: 20px;
    text-align: center;
}

.gm-style{
    width:100%;
  	height: 600px !important;
}

.float-square{
    background-color: white;
    position: absolute;
    top: 50px;
    left: 57px;
    height: auto;
    width: 315px;
    z-index: 1;
    font-family: Roboto;
}

.float-square-second {
    background-color: white;
    position: absolute;
    top: 50px;
    right: 57px;
    height: auto;
    width: 200px;
    z-index: 1;
    font-family: Roboto;
    text-align: left;
}

  // Tabs
// ===================================
$cyan: #fff;
$yellow: #1577FF;
$grey: #1F2A44;
$num-of-tabs: 3;
@mixin tabs {
    @for $i from 1 through $num-of-tabs {
        &:nth-of-type(#{$i}) {
            &:checked {
                ~.slide {
                    left: calc((100% / #{$num-of-tabs}) * #{$i - 1});
                }
            }
        }
    }
}

.tab-wrap {
    position: relative;
    display: flex;
}

.tab-wrap-second {
    position: relative;
    display: flex;
    background-color: $yellow;
    color: #fff;
    font-weight: normal;
    font-size: 12px;
    text-align: left;
}

input[type="radio"][name="tabs"] {
    position: absolute;
    z-index: -1;
    &:checked {
        +.tab-label-content {
            label {
                color: #1577FF;
            }
            .tab-content {
                display: block;
            }
        }
    }
    @include tabs;
    &:first-of-type {
        &:checked {
            ~.slide {
                left: 0;
            }
        }
    }
}

label {
    cursor: pointer;
    color: #1F2A44;
    background-color: $cyan;
    box-sizing: border-box;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 48px;
    transition: color 0.2s ease;
    width: 100%;
    font-size: 14px;
    font-weight: normal;
    line-height: 16px;
}

.slide {
    background: $yellow;
    width: calc(100% / #{$num-of-tabs});
    height: 2px;
    position: absolute;
    left: 0;
    top: calc(100% - 6px);
    transition: left 0.3s ease-out;
}

.tab-label-content {
    width: 100%;
    background-color: #fff;
    .tab-content {
        position: absolute;
        top: 100px;
        left: 16px;
        line-height: 130%;
        display: none;
    }
}

.table-map {
    > th {
        width: calc(100% / #{$num-of-tabs});
        border-bottom: none;
        font-size: 14px;
        text-align: center;
    }
    > td {
        font-size: 12px;
        border-top: none;
        text-align: center;
    }
}

.status-circle {
    margin-right: 10px;
    font-size: 6px;
    vertical-align: middle;
    &.ORT {
        color: #EA5090;
        /* pink */
    }
    &.POU, &.OST {
        color: #9215FF;
        /* purple */
    }
}

.custom-dlist {
    font-size: 12px;
    margin-top: 15px;
    dt {
        width: 80px;
        text-align: left;
        margin-left: 20px;
    }
    dd {
        margin-left: 80px;
    }
}