<div class="float-square">
    <div class="tab-wrap">
        <input type="radio" name="tabs" id="all" checked>
        <div class="tab-label-content" id="tab1-content">
            <label for="all" (click)="onTab('all')">{{ t.pt("views.map.all") }}</label>
        </div>
        <input type="radio" name="tabs" id="onroute">
        <div class="tab-label-content" id="tab2-content">
            <label for="onroute" (click)="onTab('onroute')">{{ t.pt("views.map.onroute") }}</label>
        </div>
        <input type="radio" name="tabs" id="onsite">
        <div class="tab-label-content" id="tab3-content">
            <label for="onsite" (click)="onTab('onsite')">{{ t.pt("views.map.onsite") }}</label>
        </div>
        <div class="slide"></div>
    </div>
    <table class="table">
        <thead>
            <tr class="table-map">
                <th>Load</th>
                <th>Ticket</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody *ngFor="let ticket of ticket">
            <tr class="table-map" *ngIf="(showOnRoute == true && ticket.ticketStatusGroupCode == 'ORT') || (showOnSite == true && (ticket.ticketStatusGroupCode == 'OST' || ticket.ticketStatusGroupCode == 'POU'))">
                <td>{{ ticket.loadNumber }}</td>
                <td>{{ ticket.ticketCode }}</td>
                <td style="text-align: left;"><i class="fa fa-circle status-circle" [ngClass]="ticket.ticketStatusGroupCode" aria-hidden="true"></i>{{ ticket.ticketStatusDesc }}</td>
            </tr>
        </tbody>
    </table>
</div>
        <div class="float-square-second" *ngIf="popup">
            <label class="tab-wrap-second" for="header">{{ t.pt("views.map.load") }} 52 - CR12345</label>
            <dl class="dl-horizontal custom-dlist">
                <dt>{{ t.pt("views.map.ticket") }}: </dt>
                <dd>98765478</dd>
                <dt>{{ t.pt("views.map.arrive") }}: </dt>
                <dd>30min</dd>
                <dt>{{ t.pt("views.map.driver") }}: </dt>
                <dd>Ryan Gosling</dd>
                <dt>{{ t.pt("views.map.mix") }}: </dt>
                <dd>RC-123%</dd>
                <dt>{{ t.pt("views.map.quantity") }}: </dt>
                <dd>10 cy3</dd>
                <dt>{{ t.pt("views.map.date") }}: </dt>
                <dd>16/25/2017</dd>
            </dl>
        </div>
<ng2-map zoom="13" center="Miami, USA" [scrollwheel]="false" >
    <custom-marker *ngFor="let pos of positions" [position]="pos" (click)="showPopup(pos)">
        <div class="custom-icon" [ngClass]="isTruck">
            <p style="line-height: 2;" [hidden]="!isTruck">{{count}}</p>
        </div>
         
    </custom-marker>
      
      <info-window id="iw">
        lat: [[lat]], lng: [[lng]]
      </info-window>

</ng2-map>
