@import './../dcm-cemex/dcm-cemex-theme.scss';

.modal-content{
    border-radius: 0;
    position: relative;
}

.wizard-nav-steps{
    background-color: $dark-primary-color;
    list-style: none;
    display: table;
    table-layout: fixed;
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
    text-transform: uppercase;

    li{
        display: table-cell;
        position: relative;
        width: 100%;
        padding: 8px 20px;
        font-size: 12px;
        font-family: 'Roboto';
        font-weight: 600;
        background-color: $dark-primary-color;
        color: $disabled-color;
        &.active{
            color: $white;
        }

        .cell-container{
            height: 16px;
            .step-title{
                height: 16px;
                line-height: 16px;
                display: inline-block;
            }
        }

        .md-icon{
            position: absolute;
            bottom: -4px;
        }
    }
    li:first-child{
        text-align: left;
        .md-icon{
            left: 40px;
        }
    }
    li:not(:first-child):not(:last-child){
        .md-icon{
            left: 48%;
        }
    }
    li:last-child{
        text-align: right;
        .md-icon{
            right: 40px;
        }
    }
}

.wizard-content{
    position: relative;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.wizard-closer{
    cursor: pointer;
    position: absolute;
    top: 30px;
    right: 20px;
    z-index: 1;
    color: $black;
}
.wizard-closer:hover{
    color: $black;
}
