<!-- modal trigger button -->
<!--
<button type="button" md-button color="accent" (click)="open()">
    Show wizard
    <span md-icon md-set="next" extra-small-size></span>
</button>
-->
<!-- Wizard modal -->
<div class="modal fade" bsModal #staticModal="bs-modal" [config]="{backdrop: 'static'}" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <ul class="wizard-nav-steps">
                <li *ngFor="let step of wizardSteps; let i = index" [class.active]="step.active">
                    <div class="cell-container">
                        <span class="step-title">{{ i+1 }}. {{ step.title }}</span>
                    </div>
                    <span *ngIf="step.active" md-icon md-set="triangle" extra-small-size></span>
                </li>
            </ul>
            <div class="wizard-content">
                <a class="wizard-closer" (click)="cancel()">
                    <span md-icon md-set="close" small-size></span>
                </a>
                <ng-content></ng-content>
            </div>
        </div>
    </div>
</div>