<div class="btn-group">
  <button class="btn btn-filter dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    {{ podsText }}
    <span class="arrow-menu"></span>
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
    <li style="margin-top: 5px;">
      <label class="md-check">
          <input type="checkbox" (click)="checkAll()" [checked]="allSelected">
          <i></i>
          <span class="options">{{ t.pt("views.pod_filter.allPod") }}</span>
      </label>
    </li>
    <li role="separator" class="divider"></li>
      <!--*ngFor="let pod of pods.jobsiteItem; let i = index"-->
    <li class="filter-list" *ngFor="let pod of pods">
      <label class="md-check">
          <input type="checkbox" (click)="selectItem(pod)" [checked]="pod.selected">
          <i></i>
          <span class="options">{{ pod.pointOfDeliveryCode }} - {{ pod.pointOfDeliveryDesc }}</span>
      </label>
    </li>
  </ul>
</div>

