<div class="order-card dropdown do">
    <button class="btn btn-default dropdown-toggle button-drp slave-button" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    <span class="upper-header">{{ filter || t.pt('views.order_ticket_header.allStatus') }}</span>
    <span class="arrow-menu"></span>
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1" style="top:50px; left:110px; width:200px;">
        <li style="margin-top: 5px;">
            <label  class="md-check"(click)="status = '' ">
                <input type="checkbox" (click)="checkAll()" [checked]="getAllValues()">
                <i></i>
                <span class="options">{{ t.pt('views.order_ticket_header.allStatus') }}</span>
            </label>
        </li>
        <li role="separator" class="divider"></li>
            <li *ngFor="let item of status; let i = index">
            <label class="md-check" > 
                <input type="checkbox" (click)="clickItem(i, item)" [checked]="getMyValue(i)">
                    <i></i>
                    <span class="status-options">
                    <i class="fa fa-circle left status mini" [ngClass]="item.color" aria-hidden="true"></i>
                    {{item.title}}
                </span>
            </label>
        </li>
    </ul>
</div>