<form class="navbar-form navbar-left" role="search">
    <div class="input-group search-bar">
        <span class="input-group-addon search-glass">
            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
        </span>
        <input type="search" class="form-control search-text" placeholder='{{ t.pt("views.jobsite_header.search") }}'>
    </div>
</form>