.search-content {
    padding-top: 16px;
}

.search-section {
    padding: -1px 24px;
}

.search-bar {
    width: 100%;
    background-color: #FFFFFF;
    border: 1px solid #E1E1E1;
    border-radius: 4px;
    font-family: Roboto;
    font-size: 12px;
    font-weight: normal;
    line-height: 14px;
    color: #9B9B9B;
}

.search-glass {
    padding: 4.2px !important;
    width: 30px !important;
    margin-left: 30px;
    background-color: #fff;
    color: #2C5399;
    border: none;
}

.search-text {
    border-left: none;
    z-index: 0;
    border: none;
    box-shadow: none;
}

// Animation css
input {
    outline: none;
}

input[type=search] {
    -webkit-appearance: textfield;
    -webkit-box-sizing: content-box;
}

input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
    display: none;
}

input[type=search] {
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;
}

input[type=search]:focus {
    width: 100%;
}

input:-moz-placeholder {
    color: #999;
}

input::-webkit-input-placeholder {
    color: #999;
}