<h1>Md-select demo:</h1>
<br>
<md-select-container>
    <label>Example select</label>
    <select>
        <option value="1">First option</option>
        <option value="2">Second option</option>
        <option value="3">Third option</option>
        <option value="4">Fourth option</option>
        <option value="5">Fifth option</option>
        <option value="6">Sixth option</option>
    </select>
</md-select-container>