<div class="md-select-container">
    <ng-content></ng-content>
    <div class="icon-positioner">
        <span md-icon md-set="select" *ngIf="!_formControlName.dirty || _formControlName.override" extra-small-size></span>
        <span md-icon md-set="success" *ngIf="!_formControlName.errors && _formControlName.dirty" extra-small-size></span>
        <span md-icon md-set="close" *ngIf="_formControlName.errors && _formControlName.dirty" extra-small-size></span>
    </div>
</div>