@import './../dcm-cemex/dcm-cemex-theme.scss';

$md-select-height: 48px;
$icons-path: '/vendor/images/';

.md-select-container{
    display: inline-block;
    height: $md-select-height;
    margin-top: 18px;
    position: relative;
    width: 100%;

    label{
        position: absolute;
        top: -12px;
        left: 0;
        color: $disabled-color;
        font-size: 10px;
    }
    
    select{
        width: 100%;
        height: 100%;
        cursor: pointer;
        line-height: $md-select-height;
        border: none;
        outline: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        text-indent: 1px;
        text-overflow: '';
    }
    select::-ms-expand {
        display: none;
    }

    select:disabled{
        color: $disabled-color;
        cursor: not-allowed;
    }

    .icon-positioner{
        display: block;
        position: absolute;
        top: 15px;
        right: 0;
    }
}