$custom-radio-size:                 32px;
$custom-radio-border-width:         1px;
$custom-radio-transition-speed:     100ms;
$custom-radio-inset-shadow:         inset 0 .1em 1px -.1em rgba(0,0,0,.3);

// $custom-radio-pip-color:            dodgerblue;
$custom-radio-pip-color:            green;
$custom-radio-pip-size:             round($custom-radio-size * .6);

// States
$custom-radio-unchecked-bg:         white;
$custom-radio-unchecked-border:     transparentize(gray, .6);

$custom-radio-checked-bg:           mix($custom-radio-unchecked-bg, $custom-radio-pip-color, 60%);
$custom-radio-checked-border:       $custom-radio-pip-color;

$custom-radio-active-inset-shadow:  inset 0 0 2px 3px rgba(0,0,0,.1);

$custom-radio-focus-shadow:         0 0 0 2px transparentize(dodgerblue, .5);

$custom-radio-disabled-bg:          lighten(black, 91.8%);
$custom-radio-disabled-pip-color:   lighten(black, 80%);


// Check variable values
@if ($custom-radio-size % 2 == 1) { @error '$custom-radio-size must be even'; }
// round to nearest even number
@if ($custom-radio-pip-size % 2 == 1) { $custom-radio-pip-size: $custom-radio-pip-size - 1; }


input[type="radio"] {
  position: relative;
  display: inline-block;

  width:  $custom-radio-size - 2;
  height: $custom-radio-size - 2;

  border-radius: 100%;
  outline: none !important;
  -webkit-appearance: none;
  
  // Radio
  // -----

  &::before {
    position: relative;
    top:  -$custom-radio-border-width;
    left: -$custom-radio-border-width;
    display: block;
    content: '';
    


    background: $custom-radio-unchecked-bg;
    border: $custom-radio-border-width solid $custom-radio-unchecked-border;
    border-radius: 100%;
    box-shadow: $custom-radio-inset-shadow;

    width:  $custom-radio-size;
    height: $custom-radio-size;
  }

  &:active::before {
    // box-shadow: $custom-radio-inset-shadow,
    //             $custom-radio-active-inset-shadow;
  }

  &:focus::before {
    // box-shadow: $custom-radio-inset-shadow,
    //             $custom-radio-focus-shadow;
  }

  &:checked::before {
    // background: $custom-radio-checked-bg;
    // border-color: $custom-radio-checked-border;
  }

  &:disabled::before {
    // cursor: not-allowed;
    // background-color: $custom-radio-disabled-bg;
    // border-color: transparentize($custom-radio-unchecked-border, .2);
  }



  // Radio Pip
  // ---

  &::after {
    position: relative;
    top: -($custom-radio-size / 2) - $custom-radio-border-width;
    left: ($custom-radio-size / 2) - $custom-radio-border-width;


    display: block;
    content: '';

    background: $custom-radio-pip-color;
    border-radius: 10%;
    box-shadow: 0 1px 1px rgba(0,0,0,.1);

    width:  0;
    height: 0;
  }

  &:checked::after {
    transition: all ease-in-out $custom-radio-transition-speed 0;

    top:  floor(
            - ($custom-radio-size / 2)
            - ($custom-radio-pip-size / 2)
            - $custom-radio-border-width
            - .5
          );

    left: floor(
            + ($custom-radio-size / 2)
            - ($custom-radio-pip-size / 2)
            - $custom-radio-border-width
            + 1
          );

    width:  $custom-radio-pip-size;
    height: $custom-radio-pip-size;
  }

  &:disabled::after {
    background: $custom-radio-disabled-pip-color;
  }
}




// Demo CSS
body { 
  font-family: Avenir Next, Helvetica Neue, sans-serif;
  padding: 2em;
}
label {
  font-size: 2.5em;
  display: block;
}
input + input {
  margin-left: .5em;
}