
/**, *::before, *::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box
}*/



@media only screen and (min-width:50em) {

.Form { padding: 5em }
}

.Form-label, .Form-label--tick { display: block }

.Form-label--tick {
  position: relative;
  /*display: inline-block;
  margin-left: 1em*/

  display: inline-flex;
  margin-left: 1em
}

.Form-label-radio {
  position: absolute;
  z-index: -1;
  width: 1px;
  height: 1px;
  opacity: 0;
  overflow: hidden
}

.Form-label-radio+.Form-label-text {
  cursor: pointer;
  margin-right: 1em
}

.Form-label-radio+.Form-label-text::before{
  font-size: .875em;
  display: inline-block;
  width: 1.75em;
  height: 1.75em;
  line-height: 1.5;
  border: 1px solid #ccc;
  margin-right: .25em;
  content: "\00a0";
  color: white;
  background-clip: padding-box;
  background-color: white;
  text-align: center
}

.Form-label-radio+.Form-label-text:hover::before{
  border-color: limegreen !important;
  box-shadow: 0 0 0 0 limegreen !important
}

.Form-label-radio:checked+.Form-label-text::before{
  background-color: limegreen;
  border-color: limegreen;
  box-shadow: 0 0 0 0 limegreen;
  font-family: FontAwesome;
  /*content: "\f00c";*/
   font-family: 'Glyphicons Halflings';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content:"\e013";
}


/*.glyphicon-pencil:before {
  content: "\270f";
}*/

.Form-label-radio:focus+.Form-label-text::before, .Form-label-radio:active+.Form-label-text::before {
  border-color: limegreen;
  box-shadow: 0 0 2px 0 rgba(0,135,212,0.2)
}

.Form-label-radio+.Form-label-text::before { border-radius: 100% }
